@charset "utf-8";

/* header start */
.header {
    height: 100px;
    border-bottom: 1px solid #ccc;
    box-sizing: border-box;
    margin: auto;
}
.header_box {
    position: relative;
    width: 1181px;
    height: 100px;
    margin: auto;
}
.header_box h1{
    position: absolute;
    width: 89px;
    height: 90px;
    background: url(../images/tamna_logo.jpg) no-repeat;
    text-indent: -9999px;
    float: left;
    top: 7px;
    left: 5px;
}
.header_box h1 a {
    height: 100%;
    display: block;
}

/* gnb */

.gnb ul li a {
    display: block;
    height: 100%;
}
.gnb_info {
    position: absolute;
    width: 126px;
    height: 65px;
    background: url(../images/gnb_info.jpg) no-repeat;
    text-indent: -9999px;
    float: left;
    top: 18px;
    left: 160px;
}
.gnb_personal {
    position: absolute;
    width: 153px;
    height: 65px;
    background: url(../images/gnb_personal.jpg) no-repeat;
    text-indent: -9999px;
    float: left;
    top: 18px;
    left: 395px;
}
.gnb_shop {
    position: absolute;
    width: 106px;
    height: 65px;
    background: url(../images/gnb_shop.jpg) no-repeat;
    text-indent: -9999px;
    float: left;
    top: 18px;
    left: 663px;
}
.gnb_customer {
    position: absolute;
    width: 128px;
    height: 65px;
    background: url(../images/gnb_customer.jpg) no-repeat;
    text-indent: -9999px;
    float: left;
    top: 18px;
    left: 897px;
}
.gnb_more {
    position: absolute;
    display: block;
    width: 86px;
    height: 81px;
    background: url(../images/gnb_more.jpg) no-repeat;
    text-indent: -9999px;
    float: left;
    top: 9px;
    left: 1095px;
}

/* sub menu */

.gnb_sub {
    height: 298px;
    margin: auto;
}
.gnb_sub_box{
    position: relative;
    background: url(../images/gnb_sub_wave.jpg) no-repeat left;
    width: 1600px;
    height: 298px;
    margin: auto;
    opacity: 0.93;
    z-index: 20;
    display: none;
}
.gnb_sub_box h3 {
    position: absolute;
    height: 298px;
    margin: auto;
    text-indent: -9999px;
    left: -208px;
    top: 0px;
}
.gnb_info_sub {
    position: relative;
    width: 140px;
    height: 298px;
    margin: auto;
    z-index: 25;
    left: -8px;
}
.gnb_info_sub a {
    font-size: 18px;
    font-weight: 500;
    line-height: 60px;
    letter-spacing: -1px;
    color: #424242;
    text-indent: 0;
    text-align: center;
    margin-top: 15px;
}
.gnb_info_sub a::after {
    position: absolute; 
    content:"";
    display: block;
    border-bottom: 2px solid #fece08;
    box-shadow: 2px 2px 1px #eee;
    transition: all 0.25s ease-out;
    left: 50%;
    width: 0;
}
.gnb_info_sub a:hover::after {
    transition: all 0.2s ease-in-out;
    left: 1px;
    width: 135px;
}
.gnb_personal_sub {
    position: relative;
    width: 140px;
    height: 298px;
    margin: auto;
    z-index: 25;
}
.gnb_personal_sub a{
    font-size: 18px;
    font-weight: 500;
    line-height: 60px;
    letter-spacing: -1.5px;
    color: #424242;
    text-indent: 0;
    text-align: center;
    margin-top: 15px;
}
.gnb_personal_sub a::after {
    position: absolute; 
    content:"";
    display: block;
    border-bottom: 2px solid #fece08;
    box-shadow: 2px 2px 1px #eee;
    transition: all 0.25s ease-out;
    left: 50%;
    width: 0;
}
.gnb_personal_sub a:hover::after {
    transition: all 0.2s ease-in-out;
    left: 25px;
    width: 90px;
}
.gnb_shop_sub {
    position: relative;
    width: 140px;
    height: 298px;
    margin: auto;
    z-index: 25;
    left: -15px;
}
.gnb_shop_sub a {
    font-size: 18px;
    font-weight: 500;
    line-height: 60px;
    letter-spacing: -1.5px;
    color: #424242;
    text-indent: 0;
    text-align: center;
    margin-top: 15px;
}
.gnb_shop_sub a::after {
    position: absolute; 
    content:"";
    display: block;
    border-bottom: 2px solid #fece08;
    box-shadow: 2px 2px 1px #eee;
    transition: all 0.25s ease-out;
    left: 50%;
    width: 0;
}
.gnb_shop_sub a:hover::after {
    transition: all 0.2s ease-in-out;
    left: 1px;
    width: 135px;
}
.gnb_customer_sub {
    position: relative;
    width: 140px;
    height: 298px;
    margin: auto;
    z-index: 25;
    left: -4px;
}
.gnb_customer_sub a {
    font-size: 18px;
    font-weight: 500;
    line-height: 60px;
    letter-spacing: -1.5px;
    color: #424242;
    text-indent: 0;
    text-align: center;
    margin-top: 15px;
}
.gnb_customer_sub a::after {
    position: absolute; 
    content:"";
    display: block;
    border-bottom: 2px solid #fece08;
    box-shadow: 2px 2px 1px #eee;
    transition: all 0.25s ease-out;
    left: 50%;
    width: 0;
}
.gnb_customer_sub a:hover::after {
    transition: all 0.2s ease-in-out;
    left: 20px;
    width: 100px;
}