@charset "utf-8";

/* css reset */
/* block 요소 m,p reset */
body, h1, h2, h3, h4, div, p, ul, li, dl, dt, dd {margin: 0; padding: 0;}

/* another */
a {text-decoration: none; color: #000;}

ul,li {list-style: none;}

address {font-style: normal;}

/* font setting */

body {font-size: 14px; font-family: 'Noto Sans KR', '돋움', sans-serif; font-weight: 200;}

/* ------------------------------------------------------------------------------- */

/* Common class */

        /* .blind {visibility: hidden; } 글자있던 자리는 남아있게 됨 */
        .blind {position: absolute; clip: rect(0, 0, 0, 0); width: 1px; height: 1px; margin: -1px; overflow: hidden;}

        /* scroll 숨김 */
        body {overflow: auto; overflow-x: hidden;}


/* -------------------------------------------------------------------------------- */

/* header start */

.header {
    height: 100px;
    border-bottom: 1px solid #ccc;
    box-sizing: border-box;
    margin: 0 auto 150px;
}

.header_box {
    position: relative;
    width: 1181px;
    height: 100px;
    margin: auto;
}
.header_box h1{
    position: absolute;
    width: 89px;
    height: 90px;
    background: url(../images/tamna_logo.jpg) no-repeat;
    text-indent: -9999px;
    float: left;
    top: 7px;
    left: 5px;
}
.header_box h1 a {
    height: 100%;
    display: block;
}

/* gnb */

.gnb ul li a {
    display: block;
    height: 100%;
}
.gnb_info {
    position: absolute;
    width: 126px;
    height: 65px;
    background: url(../images/gnb_info.jpg) no-repeat;
    text-indent: -9999px;
    float: left;
    top: 18px;
    left: 160px;
}
.gnb_personal {
    position: absolute;
    width: 153px;
    height: 65px;
    background: url(../images/gnb_personal.jpg) no-repeat;
    text-indent: -9999px;
    float: left;
    top: 18px;
    left: 395px;
}
.gnb_shop {
    position: absolute;
    width: 106px;
    height: 65px;
    background: url(../images/gnb_shop.jpg) no-repeat;
    text-indent: -9999px;
    float: left;
    top: 18px;
    left: 663px;
}
.gnb_customer {
    position: absolute;
    width: 128px;
    height: 65px;
    background: url(../images/gnb_customer.jpg) no-repeat;
    text-indent: -9999px;
    float: left;
    top: 18px;
    left: 897px;
}
.gnb_more {
    position: absolute;
    display: block;
    width: 86px;
    height: 81px;
    background: url(../images/gnb_more.jpg) no-repeat;
    text-indent: -9999px;
    float: left;
    top: 9px;
    left: 1095px;
}

/* sub menu */

.gnb_sub {
    height: 298px;
    background: #fff;
    margin: auto;
    opacity: 0.95;
    z-index: -1;
}
.gnb_sub_box{
    position: relative;
    width: 1181px;
    height: 298px;
    margin: auto;
    z-index: 0;
}
.gnb_sub_box h3 {
    position: absolute;
    width: 366px;
    height: 298px;
    background: url(../images/gnb_sub_wave.jpg) no-repeat left;
    margin: auto;
    text-indent: -9999px;
    left: -200px;
}
.gnb_info_sub {
    position: relative;
    width: 140px;
    height: 298px;
    margin: auto;
    z-index: 1;
    left: -8px;
}
.gnb_info_sub a {
    font-size: 18px;
    font-weight: 500;
    line-height: 60px;
    letter-spacing: -1px;
    color: #424242;
    text-indent: 0;
    text-align: center;
    margin-top: 15px;
}
.gnb_info_sub a::after {
    position: absolute; 
    content:"";
    display: block;
    border-bottom: 2px solid #fece08;
    box-shadow: 2px 2px 1px #eee;
    transition: all 0.25s ease-out;
    left: 50%;
    width: 0;
}
.gnb_info_sub a:hover::after {
    transition: all 0.2s ease-in-out;
    left: 1px;
    width: 135px;
}
.gnb_personal_sub {
    position: relative;
    width: 140px;
    height: 298px;
    margin: auto;
    z-index: 1;
}
.gnb_personal_sub a{
    font-size: 18px;
    font-weight: 500;
    line-height: 60px;
    letter-spacing: -1.5px;
    color: #424242;
    text-indent: 0;
    text-align: center;
    margin-top: 15px;
}
.gnb_personal_sub a::after {
    position: absolute; 
    content:"";
    display: block;
    border-bottom: 2px solid #fece08;
    box-shadow: 2px 2px 1px #eee;
    transition: all 0.25s ease-out;
    left: 50%;
    width: 0;
}
.gnb_personal_sub a:hover::after {
    transition: all 0.2s ease-in-out;
    left: 25px;
    width: 90px;
}
.gnb_shop_sub {
    position: relative;
    width: 140px;
    height: 298px;
    margin: auto;
    z-index: 1;
    left: -15px;
}
.gnb_shop_sub a {
    font-size: 18px;
    font-weight: 500;
    line-height: 60px;
    letter-spacing: -1.5px;
    color: #424242;
    text-indent: 0;
    text-align: center;
    margin-top: 15px;
}
.gnb_shop_sub a::after {
    position: absolute; 
    content:"";
    display: block;
    border-bottom: 2px solid #fece08;
    box-shadow: 2px 2px 1px #eee;
    transition: all 0.25s ease-out;
    left: 50%;
    width: 0;
}
.gnb_shop_sub a:hover::after {
    transition: all 0.2s ease-in-out;
    left: 1px;
    width: 135px;
}
.gnb_customer_sub {
    position: relative;
    width: 140px;
    height: 298px;
    margin: auto;
    z-index: 1;
    left: -4px;
}
.gnb_customer_sub a {
    font-size: 18px;
    font-weight: 500;
    line-height: 60px;
    letter-spacing: -1.5px;
    color: #424242;
    text-indent: 0;
    text-align: center;
    margin-top: 15px;
}
.gnb_customer_sub a::after {
    position: absolute; 
    content:"";
    display: block;
    border-bottom: 2px solid #fece08;
    box-shadow: 2px 2px 1px #eee;
    transition: all 0.25s ease-out;
    left: 50%;
    width: 0;
}
.gnb_customer_sub a:hover::after {
    transition: all 0.2s ease-in-out;
    left: 20px;
    width: 100px;
}

/* main */

/* tamna join */

.tamna_join {
    position: relative;
    width: 1080px;
    height: 310px;
    margin: 0 auto 50px;
}
.tamna_join h2::before {
    position: absolute;
    width: 82px;
    height: 80px;
    content: "";
    background: url(../images/apply/tamna_card_apply_logo.jpg) no-repeat;
    top: -130px;
    left: 497px;
}
.tamna_join h2 {
    position: relative;
    display: block;
    font-size: 28px;
    font-weight: 500;
    letter-spacing: -3px;
    text-align: center;
    top: 130px;
}
.tamna_join_txt {
    position: absolute;
    font-size: 16px;
    letter-spacing: -1px;
    line-height: 22px;
    text-align: left;
    top: 215px;
    left: 425px;
    margin-bottom: 50px;
}

/* tamna join order */

.tamna_join_order {
    position: relative;
    display: block;
    width: 720px;
    height: 40px;
    margin: auto;
    top: 214px;
}
.tamna_join_order ol {
    width: 720px;
    height: 40px;
    float: left;
    font-size: 16px;
    text-align: center;
    line-height: 40px;
}
.tamna_join_order ol a {
    display: block;
    height: 100%;
}
.tamna_join_order ol li:nth-child(1) {
    position: absolute;
    width: 240px;
    height: 40px;
    background: #fff;
    color: #fff;
    border: 1px solid #eee;
    box-sizing: border-box;
    left: 20px;
}
.tamna_join_order ol li:nth-child(1) a {
    font-weight: 300;
    transition: all 0.2s ease-in-out;
}
.tamna_join_order ol li:nth-child(1) a:hover {
    font-weight: 450;
    transition: all 0.2s ease-in-out;
}
.tamna_join_order ol li:nth-child(2) {
    position: absolute;
    width: 240px;
    height: 40px;
    background: #21bdbd;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    box-sizing: border-box;
    left: 260px;
}
.tamna_join_order ol li:nth-child(2) a {
    font-weight: 300;
    transition: all 0.2s ease-in-out;
}
.tamna_join_order ol li:nth-child(2) a:hover {
    font-weight: 450;
    transition: all 0.2s ease-in-out;
}
.tamna_join_order ol li:nth-child(3) {
    position: absolute;
    width: 240px;
    height: 40px;
    background: #fff;
    border: 1px solid #eee;
    box-sizing: border-box;
    left: 500px;
}
.tamna_join_order ol li:nth-child(3) a {
    font-weight: 300;
    transition: all 0.2s ease-in-out;
}
.tamna_join_order ol li:nth-child(3) a:hover {
    font-weight: 450;
    transition: all 0.2s ease-in-out;
}

/* tamna input form */

.tamna_input_form {
    position: relative;
    width: 1080px;
    height: 400px;
    margin: 0 auto 50px;
    font-size: 16px;
}


/* username */
.tamna_join_username_box {
    display: inline-block;
    width: 1080px;
    height: 80px;
    border-top: 1px solid #444;
    border-bottom: 1px solid #444;
    box-sizing: border-box;
}
.tamna_join_username_label {
    position: absolute;
    display: inline-block;
    width: 1080px;
    height: 80px;
    padding-left: 20px;
    line-height: 75px;
    box-sizing: border-box;    
}
.tamna_join_username_label::after {
    position: absolute;
    content: "*";
    margin-top: 4px;
    color: rgb(185, 0, 0);
}
#tamna_join_username {
    position: absolute;
    display: inline-block;
    width: 780px;
    height: 55px;
    border: 1px solid #ccc;
    padding-left: 20px;
    box-sizing: border-box;
    font-size: 16px;
    top: 12px;
    right: 0;
}


/* gender */
.tamna_join_gender_box {
    width: 1080px;
    height: 80px;
    border-bottom: 1px solid #444;
    box-sizing: border-box;
}
.tamna_join_gender_label {
    position: absolute;
    display: inline-block;
    width: 1080px;
    height: 80px;
    padding-left: 20px;
    line-height: 75px;
    box-sizing: border-box;    
}
.tamna_join_gender_label::after {
    position: absolute;
    content: "*";
    margin-top: 4px;
    color: rgb(185, 0, 0);
}

/* male */

.tamna_join_gender_male_box {
    position: relative; 
    width: 390px;
    height: 55px;
    box-sizing: border-box;
    top: 10px;
    left: 299px;
}

/* male radio button custom */


#tamna_join_gender_male { /* gender input*/
    width: 1px; 
    height: 1px; 
    padding: 0; 
    margin: -1px; 
    overflow: hidden; 
    clip:rect(0,0,0,0); 
    border: 0;
}
.tamna_join_gender_male_label {
    position: absolute;
    display: inline-block;
    width: 390px;
    height: 55px;
    border: 1px solid #ccc;
    padding: 15px 0 0 20px;
    box-sizing: border-box;
    background: #fff;
    /* margin: 25px 0 0 50px; */
    cursor: pointer;
    top: 0;
    left: 0;
    color:#111;

}
#tamna_join_gender_male:checked~.tamna_join_gender_male_label>span {
    position: absolute;
    display: inline-block;
    width: 390px;
    height: 55px;
    padding: 15px 0 0 20px;
    box-sizing: border-box;
    background: #21bdbd;
    top: 0;
    left: 0;
    color:#111;
}

/* female */

.tamna_join_gender_female_box {
    position: relative; 
    width: 390px;
    height: 55px;
    box-sizing: border-box;
    top: -45px;
    left: 690px;
}

/* female radio button custom */


#tamna_join_gender_female { /* gender input*/
    width: 1px; 
    height: 1px; 
    padding: 0; 
    margin: -1px; 
    overflow: hidden; 
    clip:rect(0,0,0,0); 
    border: 0;
}
.tamna_join_gender_female_label {
    position: absolute;
    display: inline-block;
    width: 390px;
    height: 55px;
    border: 1px solid #ccc;
    padding: 15px 0 0 20px;
    box-sizing: border-box;
    background: #fff;
    /* margin: 25px 0 0 50px; */
    cursor: pointer;
    top: 0;
    left: 0;
    color:#333;

}
#tamna_join_gender_female:checked~.tamna_join_gender_female_label>span {
    position: absolute;
    display: inline-block;
    width: 390px;
    height: 55px;
    padding: 15px 0 0 20px;
    box-sizing: border-box;
    background: #21bdbd;
    top: 0;
    left: 0;
    color:#333;

}

/* birth */
.tamna_join_birth_box {
    position: relative;
    width: 1080px;
    height: 80px;
    border-bottom: 1px solid #444;
    box-sizing: border-box;
}
.tamna_join_birth_label {
    position: absolute;
    display: inline-block;
    width: 1080px;
    height: 80px;
    padding-left: 20px;
    line-height: 75px;
    box-sizing: border-box;    
}
.tamna_join_birth_label::after {
    position: absolute;
    content: "*";
    margin-top: 4px;
    color: rgb(185, 0, 0);
}

/* tamna_join_birthyear */
select {
    -webkit-appearance: none;  /* 네이티브 외형 감추기 */
    -moz-appearance: none;
    appearance: none;
}
/* IE 10, 11의 네이티브 화살표 숨기기 */
select::-ms-expand {
    display: none;
}

#tamna_join_birthyear {
    position: absolute;
    width: 280px;
    height: 55px;
    top: 10px;
    left: 300px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    padding: 15px;
    font-size: 16px;
}
#tamna_join_birthyear:optional{
    color: #888;
}
#tamna_join_birthmonth {
    position: absolute;
    width: 235px;
    height: 55px;
    top: 10px;
    left: 595px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    padding: 15px;
    font-size: 16px;
}
#tamna_join_birthmonth:optional{
    color: #888;
}
#tamna_join_birthday {
    position: absolute;
    width: 235px;
    height: 55px;
    top: 10px;
    left: 845px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    padding: 15px;
    font-size: 16px;
}
#tamna_join_birthday:optional{
    color: #888;
}


/* phonenum */
.tamna_join_phonenum_box {
    position: relative;
    width: 1080px;
    height: 80px;
    border-bottom: 1px solid #444;
    box-sizing: border-box;
}
.tamna_join_phonenum_label {
    position: absolute;
    display: inline-block;
    width: 1080px;
    height: 80px;
    padding-left: 20px;
    line-height: 75px;
    box-sizing: border-box;    
}
.tamna_join_phonenum_label::after {
    position: absolute;
    content: "*";
    margin-top: 4px;
    color: rgb(185, 0, 0);
}

#tamna_join_phonenum {
    position: absolute;
    width: 565px;
    height: 55px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    padding-left: 20px;
    font-size: 16px;
    top: 10px;
    left: 300px;
}
.tamna_join_phonenum_btn {
    position: absolute;
    width: 200px;
    height: 55px;
    border-radius: 20px;
    top: 10px;
    left: 880px;
    background: #21bdbd;
    cursor: pointer;
}


/* verifynum */
.tamna_join_verifynum_box {
    position: relative;
    width: 1080px;
    height: 80px;
    border-bottom: 1px solid #444;
    box-sizing: border-box;
}
.tamna_join_verifynum_label {
    position: absolute;
    display: inline-block;
    width: 1080px;
    height: 80px;
    padding-left: 20px;
    line-height: 75px;
    box-sizing: border-box;    
}
.tamna_join_verifynum_label::after {
    position: absolute;
    content: "*";
    margin-top: 4px;
    color: rgb(185, 0, 0);
}
#tamna_join_verifynum {
    position: absolute;
    width: 565px;
    height: 55px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    padding-left: 20px;
    font-size: 16px;
    top: 10px;
    left: 300px;
}
.tamna_join_verifynum_btn {
    position: absolute;
    width: 200px;
    height: 55px;
    border-radius: 20px;
    top: 10px;
    left: 880px;
    background: #21bdbd;
    cursor: pointer;
}


/* tamna join next btn */

.tamna_join_next_btn {
    display: block;
    width: 350px;
    height: 100px;
    background: #21bdbd;
    border: 1px solid #ddd;
    color: #fff;
    font-size: 26px;
    font-weight: 200;
    margin: 0 auto 150px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
.tamna_join_next_btn:hover {
    background: #fece08;
    color: #333;
    transition: all 0.2s ease-in-out;
}


/* footer */

.footer {
    height: 180px;
    background: #4c4c4c;
    margin: auto;
}
.footer_box {
    position: relative;
    width: 1181px;
    height: 180px;
    margin: auto;
}
.footer_box a {
    display: block;
    height: 100%;
}
.footer_box h2 {
    position: absolute;
    width: 86px;
    height: 150px;
    background: url(../images/footer_tamna_logo.jpg) no-repeat;
    text-indent: -9999px;
    float: left;
    top: 15px;
    left: 35px;
}
.footer_txt {
    position: absolute;
    font-size: 16px;
    color: #eee;
    float: left;
    top: 65px;
    left: 220px;
}
address {
    float: left;
    margin-bottom: 5px;
}
address::after {
    content: " | ";
    margin: 0 10px 0 5px;
}
.footer_txt p:nth-child(2) {
    float: left;
    margin-bottom: 5px;
}
.footer_jejugoverment {
    position: absolute;
    width: 217px;
    height: 70px;
    background: url(../images/footer_jeju_logo.jpg) no-repeat center;
    text-indent: -9999px;
    top: 60px;
    right: 50px;
}