@charset "utf-8";

/* css reset */
/* block 요소 m,p reset */
body, h1, h2, h3, h4, div, p, ul, li, dl, dt, dd {margin: 0; padding: 0;}

/* another */
a {text-decoration: none; color: #000;}

ul,li {list-style: none;}

address {font-style: normal;}

/* font setting */

body {font-size: 14px; font-family: 'Noto Sans KR', '돋움', sans-serif; font-weight: 200;}

/* ------------------------------------------------------------------------------- */

/* Common class */

        /* .blind {visibility: hidden; } 글자있던 자리는 남아있게 됨 */
        .blind {position: absolute; clip: rect(0, 0, 0, 0); width: 1px; height: 1px; margin: -1px; overflow: hidden;}

/* -------------------------------------------------------------------------------- */


/* header start */
.header {
    height: 100px;
    border-bottom: 1px solid #ccc;
    box-sizing: border-box;
    position: relative;
}

.header_box {
    width: 1600px;
    height: 100px;
    background: red;
    margin: auto;
}
.header_box h1{
    width: 89px;
    height: 90px;
    background: url(../images/tamna_logo.jpg) no-repeat;
    text-indent: -9999px;
    float: left;
    margin: 7px 73px 5px 210px;
}
.header_box h1 a {
    height: 100%;
    display: block;
}
.gnb>ul>li>a{
    display: block;
}

.gnb_info {
    width: 87px;
    height: 25px;
    background: url(../images/gnb_info.jpg) no-repeat;
    text-indent: -9999px;
    float: left;
    margin: 37px 145px 0 93px;
}
.gnb_personal {
    width: 113px;
    height: 25px;
    background: url(../images/gnb_personal.jpg) no-repeat;
    text-indent: -9999px;
    float: left;
    margin: 37px 156px 0 0;
}
.gnb_shop {
    width: 66px;
    height: 25px;
    background: url(../images/gnb_shop.jpg) no-repeat;
    text-indent: -9999px;
    float: left;
    margin: 37px 168px 0 0;
}
.gnb_customer {
    width: 88px;
    height: 25px;
    background: url(../images/gnb_customer.jpg) no-repeat;
    text-indent: -9999px;
    float: left;
    margin: 37px 110px 0 0;
}
.gnb_more {
    width: 46px;
    height: 41px;
    background: url(../images/hamburger.jpg) no-repeat;
    text-indent: -9999px;
    float: left;
    margin: 29px 229px 31px 0;
}