@charset "utf-8";

/* main */
.main {
    width: 1080px;
    margin: auto;
}

/* tamna notice */

.tamna_notice{
    position: relative;
    width: 190px;
    height: 222px;
    margin:150px auto 50px;
}
.tamna_notice h2::before {
    position: absolute;
    width: 82px;
    height: 80px;
    content: "";
    background: url(../images/apply/tamna_card_apply_logo.jpg) no-repeat;
    top: -130px;
    left: 50%;
    margin-left: -41px;
}
.tamna_notice h2 {
    position: relative;
    display: block;
    font-size: 28px;
    font-weight: 500;
    letter-spacing: -3px;
    text-align: center;
    top: 130px;
}
.tamna_notice_txt {
    position: absolute;
    font-size: 16px;
    letter-spacing: -1px;
    line-height: 22px;
    text-align: left;
    top: 203px;
    left: 50%;
    margin: 0 0 50px -85px;
}

/* tamna notice search */

.tamna_notice_search {
    position: relative;
    width: 1080px;
    height: 40px;
    margin: 0 auto 50px;
}
.tamna_notice_search_box {
    position: absolute;
    right: 0;
}
.tamna_notice_category {
    width: 100px;
    height: 40px;
    border: 1px solid #777;
    box-sizing: border-box;
    background: #fff;
    color: #777;
    font-size: 16px;
    padding-left: 20px;
    float: left;
    margin-right: 10px;
    cursor: pointer;
}
.tamna_notice_search_text {
    width: 250px;
    height: 40px;
    border: 1px solid #777;
    box-sizing: border-box;
    background: #fff;
    color: #777;
    font-size: 16px;
    padding-left: 20px;
    cursor: text;
    float: left;
    margin-right: 10px;
    }
.tamna_notice_search_submit_btn {
    width: 100px;
    height: 40px;
    border: 1px solid #777;
    box-sizing: border-box;
    background: #21bdbd;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    float: left;
    transition: all 0.2s linear;
}
.tamna_notice_search_submit_btn:hover {
    background: #fff;
    color: #000;
    border: 1px solid #777;
    box-sizing: border-box;
    transition: all 0.2s linear;
}

/* table */
.tamna_notice_table_box {
    width: 1080px;
    margin: 0 auto 150px;
}
.tamna_notice_table {
    width: 1080px;
    height: 400px;
    font-size: 16px;
    border-collapse: collapse;
    font-size: 16px;
    text-align: center;
    border-top: 2px solid #4c4c4c;
    border-bottom: 2px solid #4c4c4c;
    box-sizing: border-box;
    margin-bottom: 50px;
}

/* table row */
.tamna_notice_table a {
    display: block;
    height: 100%;
    line-height: 80px;
}
.tamna_notice_table tr:nth-child(1) {
    width: 1080px;
    height: 80px;
    border-bottom: 1px solid #4c4c4c;
    box-sizing: border-box;
}
#title{
    width: 450px;
    height: 50px;
    padding-left: 20px;
    font-size: 20px;
    border: 1px solid #444;
    box-sizing: border-box;
}
#category{
    width: 150px;
    height: 50px;    
    padding-left: 10px;
    font-size: 16px;
    border: 1px solid #444;
    box-sizing: border-box;
}
#date{
    width: 150px;
    height: 50px;
    font-size: 16px;
    border: 1px solid #444;
    box-sizing: border-box;
}
#pwd{
    width: 70px;
    height: 50px;
    font-size: 20px;
    padding-left: 10px;
    border: 1px solid #444;
    box-sizing: border-box;
}
.tamna_notice_tableBody {
    width: 1080px;
    box-sizing: border-box;

}
.tamna_notice_desc{
    height: 100%;
    box-sizing: border-box;
    padding: 50px;
}
.desc_label{
    display: block;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
}
#desc{
    width: 1000px;
    height: 300px;
    margin: auto;
    padding: 20px;
    border: 1px solid #444;
    box-sizing: border-box;
    font-size: 16px;
}

.button{
    display: block;
    width: 350px;
    height: 100px;
    margin: 0 auto;
    background: #21bdbd;
    border: 1px solid #ddd;
    color: #fff;
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    line-height: 95px;
}

