@charset "utf-8";


/* main */

/* tamna qna */

.tamna_qna{
    position: relative;
    width: 260px;
    height: 222px;
    margin: 150px auto 50px;
}
.tamna_qna h2::before {
    position: absolute;
    width: 82px;
    height: 80px;
    content: "";
    background: url(../images/apply/tamna_card_apply_logo.jpg) no-repeat;
    top: -130px;
    left: 50%;
    margin-left: -41px;
}
.tamna_qna h2 {
    position: relative;
    display: block;
    font-size: 28px;
    font-weight: 500;
    letter-spacing: -3px;
    text-align: center;
    top: 130px;
}
.tamna_qna_txt {
    position: absolute;
    font-size: 16px;
    letter-spacing: -1px;
    line-height: 22px;
    text-align: left;
    top: 203px;
    left: 50%;
    margin: 0 0 50px -129px;
}

/* tamna qna search */

.tamna_qna_search {
    position: relative;
    width: 1080px;
    height: 40px;
    margin: 0 auto 50px;
}
.tamna_qna_search_box {
    position: absolute;
    right: 0;
}
.tamna_qna_category {
    width: 100px;
    height: 40px;
    border: 1px solid #777;
    box-sizing: border-box;
    background: #fff;
    color: #777;
    font-size: 16px;
    padding-left: 20px;
    float: left;
    margin-right: 10px;
    cursor: pointer;
}
.tamna_qna_search_text {
    width: 250px;
    height: 40px;
    border: 1px solid #777;
    box-sizing: border-box;
    background: #fff;
    color: #777;
    font-size: 16px;
    padding-left: 20px;
    cursor: text;
    float: left;
    margin-right: 10px;
    }
.tamna_qna_search_submit_btn {
    width: 100px;
    height: 40px;
    border: 1px solid #777;
    box-sizing: border-box;
    background: #21bdbd;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    float: left;
    transition: all 0.2s linear;
}
.tamna_qna_search_submit_btn:hover {
    background: #fff;
    color: #000;
    border: 1px solid #777;
    box-sizing: border-box;
    transition: all 0.2s linear;
}

/* table */
.tamna_qna_table_box {
    width: 1080px;
    margin: 0 auto 150px;
}
.tamna_qna_table {
    width: 1080px;
    font-size: 16px;
    letter-spacing: -1px;
    border-collapse: collapse;
    font-size: 16px;
    text-align: center;
    border-top: 2px solid #4c4c4c;
    border-bottom: 1px solid #4c4c4c;
    box-sizing: border-box;
    margin-bottom: 50px;
}

/* table Marker toggle btn */

.tamna_qna_tableMarkerQ{
    width: 100px;
    color: #000;
    font-weight: bold;
}
.tamna_qna_tableMarkerA{
    width: 100px;
    color: #21bdbd;
    font-weight: bold;
}
.tamna_qna_tableClose{
    display: block;
    width: 130px;
    height: 80px;
    background: url(../images/qna/qna_toggleopen_up.png) no-repeat center;
    text-indent: -9999px;
    cursor: pointer;
}
.tamna_qna_tableOpen{
    display: none;
    width: 130px;
    height: 80px;
    background: url(../images/qna/qna_toggleopen_down.png) no-repeat center;
    text-indent: -9999px;
    cursor: pointer;

}

/* table q */
.tamna_qna_q {
    height: 80px;
    border-bottom: 1px solid #4c4c4c;
    box-sizing: border-box;
    cursor: pointer;
}

/* category diplay none */
.tamna_qna_tableHead_tableCategory {
    width: 2px;
    display: none;
}
.tamna_qna_tableCategory {
    width: 2px;
    display: none;
}

/* table q title */
.tamna_qna_tableTitle {
    width: 850px;
    padding-left: 20px;
    text-align: left;
    cursor: pointer;
}
.tamna_qna_table a {
    display: block;
    height: 100%;
    line-height: 80px;
}
/* tamna_qna_q hover */
.tamna_qna_q:hover {
    background: #21bdbd;
    transition: all 0.1s ease-in-out;
}

/* tamna a */
.tamna_qna_a {
    /* display: none; */
    height: 120px;
    border-bottom: 1px solid #4c4c4c;
    box-sizing: border-box;
    background: #eee;
    line-height: 2;
}
/* table answer */
.tamna_qna_tableAnswer {    
    width: 700px;
    padding: 30px 0 30px 20px;
    box-sizing: border-box;
    text-align: left;
}

/* 내부 테이블 */
.tamna_qna_tableAnswer table {
    width: 800px;
    height: 120px;
    margin-top: 20px;
    border-collapse: collapse;
    font-size: 14px;
    background: #fff;
}
.tamna_qna_tableAnswer tr td {
    text-align: center;
    vertical-align: middle;
    border: 1px solid #444;
    letter-spacing: 0.1px;
}

/* paging */
.tamna_qna_table_paging {
    width: 160px;
    height: 40px;
    margin: 0 auto;
}
.tamna_qna_table_paging a:nth-child(1){
    display: block;
    width: 40px;
    height: 40px;
    margin: auto;
    border: 1px solid #eee;
    box-sizing: border-box;
    background: #21bdbd;
    color: #fff;
    text-align: center;
    line-height: 38px; 
    margin-right: 20px;
    float: left;
}
.tamna_qna_table_paging a:nth-child(2){
    display: block;
    width: 40px;
    height: 40px;
    margin: auto;
    border: 1px solid #eee;
    box-sizing: border-box;
    background: #fff;
    color: #000;
    text-align: center;
    line-height: 38px; 
    margin-right: 20px;
    float: left;
}
.tamna_qna_table_paging a:nth-child(3){
    display: block;
    width: 40px;
    height: 40px;
    margin: auto;
    border: 1px solid #eee;
    box-sizing: border-box;
    background: #fff;
    color: #000;
    text-align: center;
    line-height: 38px; 
    float: left;
}
