@charset "utf-8";

/* main */

/* tamna_shop_benefit */

.tamna_shop_benefit {
    position: relative;
    width: 485px;
    height: 245px;
    margin: 150px auto 50px;
}
.tamna_shop_benefit h2::before {
    position: absolute;
    width: 82px;
    height: 80px;
    content: "";
    background: url(../images/apply/tamna_card_apply_logo.jpg) no-repeat;
    top: -130px;
    left: 50%;
    margin-left: -41px;
}
.tamna_shop_benefit h2 {
    position: relative;
    display: block;
    font-size: 28px;
    font-weight: 500;
    letter-spacing: -3px;
    text-align: center;
    top: 130px;
}
.tamna_shop_benefit_txt {
    position: absolute;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: -2px;
    line-height: 22px;
    text-align: center;
    top: 200px;
}
.tamna_shop_benefit_txt span {
    position: relative;
    display: inline-block;
    letter-spacing: -1.5px;
    font-size: 16px;
    font-weight: 200;
    margin-top: 4px;
}

/* tamna_shop_benefit_list */
.tamna_shop_benefit_list_box {
    width: 1085px;
    height: 455px;
    margin: auto;
}
.tamna_shop_benefit_list1 {
    width: 260px;
    height: 455px;
    background: url(../images/shop_benefit/shop_benefit1.jpg) no-repeat;
    text-indent: -9999px;
    float: left;
    margin-right: 15px;
}
.tamna_shop_benefit_list2 {
    width: 260px;
    height: 455px;
    background: url(../images/shop_benefit/shop_benefit2.jpg) no-repeat;
    text-indent: -9999px;
    float: left;
    margin-right: 15px;
}
.tamna_shop_benefit_list3 {
    width: 260px;
    height: 455px;
    background: url(../images/shop_benefit/shop_benefit3.jpg) no-repeat;
    text-indent: -9999px;
    float: left;
    margin-right: 15px;
}
.tamna_shop_benefit_list4 {
    width: 260px;
    height: 455px;
    background: url(../images/shop_benefit/shop_benefit4.jpg) no-repeat;
    text-indent: -9999px;
    float: left;
}

/* tamna_shop_benefit_to_apply_link */

.tamna_shop_benefit_to_apply_link {
    position: relative;
    width: 350px;
    height: 100px;
    border: 1px solid #888;
    text-align: center;
    margin: 0 auto 150px;
    font-size: 26px;
    font-weight: 300;
    line-height: 95px;
    top: 50px;
}

.tamna_shop_benefit_to_apply_link a {
    display: block;
    height: 100%;
    color: #111;
    transition: all 0.2s ease-out;
}
.tamna_shop_benefit_to_apply_link a::after {
    content: " ❭❭";
    color: #21bdbd;
    transition: all 0.2s ease-out;
}
.tamna_shop_benefit_to_apply_link a:hover {
    background: #21bdbd;
    transition: all 0.2s ease-in-out;
}
.tamna_shop_benefit_to_apply_link a:hover::after {
    color: #fff;
    transition: all 0.15s ease-in-out;
}
/* main end */

