@charset "utf-8";

/* main */

/* tamna_shop_search */

.tamna_shop_search {
    position: relative;
    width: 570px;
    height: 280px;
    margin: 150px auto 50px;
}
.tamna_shop_search h2::before {
    position: absolute;
    width: 82px;
    height: 80px;
    content: "";
    background: url(../images/apply/tamna_card_apply_logo.jpg) no-repeat;
    top: -130px;
    left: 50%;
    margin-left: -41px;
}
.tamna_shop_search h2 {
    position: relative;
    display: block;
    font-size: 28px;
    font-weight: 500;
    letter-spacing: -3px;
    text-align: center;
    top: 130px;
}
.tamna_shop_search_txt {
    position: absolute;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: -2px;
    line-height: 22px;
    text-align: center;
    top: 205px;
    left: 50%;
    margin-left: -280px;
}

.tamna_shop_search_txt span {
    position: relative;
    display: inline-block;
    letter-spacing: -1px;
    font-size: 12px;
    text-align: center;
    margin-top: 12px;
}

/* tamna_shop_search */
.tamna_shop_search_box {
    width: 1080px;
    height: 395px;
    margin: 0 auto 50px;
}

/* table */
.tamna_shop_search_table {
    width: 1080px;
    height: 200px;
    border: 1px solid #b7b7b7;
    border-collapse: collapse;
    color: #444;
    font-size: 16px;
}
.tamna_shop_search_table td {
    vertical-align: middle;
    text-align: center;
    border: 1px solid #b7b7b7;
    margin: auto;
}
.tamna_shop_search_table tr {
    vertical-align: middle;
    text-align: center;
    border: 1px solid #b7b7b7;
    margin: auto;
}
.tamna_table_td {
    width: 186px;
    height: 100px;
}
.tamna_shop_search_table a {
    width: 100%;
    height: 100%;
    display: inline-block;
    line-height: 100px;
    transition: all 0.2s ease-in-out;
}
.tamna_shop_search_table a:hover {
    background: #111;
    color: #fff;
    transition: all 0.2s ease-in-out;
}
.tamna_shop_search_table_rowspan a{
line-height: 200px;
}


/* tamna_shop_search_city_box */
.tamna_shop_search_city_box {
    position: relative;
    width: 1080px;
    height: 200px;
    background: #eee;
}
select {
    -webkit-appearance: none; /* 네이티브 외형 감추기 */ 
    -moz-appearance: none; appearance: none; 
    } 
/* IE 10, 11의 네이티브 화살표 숨기기 */ 
select::-ms-expand { display: none; }

.tamna_shop_search_city {
    position: absolute;
    width: 1011px;
    height: 55px;
    border: 1px solid #eee;
    box-sizing: border-box;
    top: 35px;
    left: 35px;
    font-size: 16px;
    padding-left: 20px;
    cursor: pointer;
}
#tamna_shop_search_text_box {
    position: absolute;
    width: 800px;
    height: 55px;
    border: 1px solid #f3f3f3;
    background: #fff;
    box-sizing: border-box;
    top: 105px;
    left: 35px;
    font-size: 16px;
    padding-left: 20px;
    cursor: text;
}
.tamna_shop_search_city_txt {
    position: absolute;
    font-size: 14px;
    letter-spacing: -1px;
    top: 168px;
    left: 35px;
}
#tamna_shop_search_btn {
    position: absolute;
    width: 200px;
    height: 55px;
    background: #000;
    border: 1px solid #fff;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    top: 105px;
    left: 846px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
#tamna_shop_search_btn:hover {
    border: 1px solid #000;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: 400;
    background: #fff;
    color: #000;
    transition: all 0.2s ease-in-out;
}

/* tamna_shop_search_result */
.tamna_shop_search_result {
    width: 1080px;
    height: 920px;
    margin: 0 auto 150px;
}
/* text */
.tamna_shop_search_result h3 {
    display: inline;
    font-size: 16px;
    font-weight: 200;
}
.tamna_shop_search_result span {
    font-size: 16px;
}
.tamna_shop_search_result>h3::after {
    content: " | ";
    margin: 0 10px 0 10px;
}

/* table */
.tamna_shop_search_result_table {
    width: 1080px;
    height: 800px;
    font-size: 16px;
    letter-spacing: -1px;
    border-collapse: collapse;
    margin: 35px auto 20px;
    text-align: center;
    border-bottom: 1px solid #bbb;
}
.tamna_shop_search_result_table th {
    width: 1080px;
    height: 80px;
    border-top: 1px solid #222;
}
.tamna_shop_search_result_table th:nth-child(1) {
    width: 450px;
    height: 80px;
}
.tamna_shop_search_result_table th:nth-child(2) {
    width: 400px;
    height: 80px;
}
.tamna_shop_search_result_table th:nth-child(4) {
    width: 300px;
    height: 80px;
}
.tamna_shop_search_result_table tr {
    border-top: 1px solid #bbb;
}

/* paging */
.tamna_shop_search_result_table_paging {
    width: 160px;
    height: 40px;
    margin: 0 auto;
}
.pagingbox {
    width: 40px;
    height: 40px;
    margin-right: 20px;
    border: 1px solid #eee;
    box-sizing: border-box;
    background: #21bdbd;
    color: #fff;
    height: 100%;
    text-align: center;
    line-height: 38px;
    float: left; 
}
.tamna_shop_search_result_table_paging div:nth-child(1) a{

    width: 40px;
    height: 40px;
    margin-right: 20px;
    border: 1px solid #eee;
    box-sizing: border-box;
    background: #21bdbd;
    color: #fff;
    height: 100%;
    text-align: center;
    line-height: 38px;
    float: left; 
}
.tamna_shop_search_result_table_paging div:nth-child(2) a{
    display: block;
    width: 40px;
    height: 40px;
    margin-right: 20px;
    border: 1px solid #eee;
    box-sizing: border-box;
    height: 100%;
    text-align: center;
    line-height: 38px;
    float: left;
}
.tamna_shop_search_result_table_paging div:nth-child(3) a{
    display: block;
    width: 40px;
    height: 40px;
    border: 1px solid #eee;
    box-sizing: border-box;
    height: 100%;
    text-align: center;
    line-height: 38px;
    float: left;
}
