@charset "utf-8";

/* main */

/* tamna_shop_apply */

.tamna_shop_apply{
    position: relative;
    width: 735px;
    height: 455px;
    margin: 150px auto 50px;
}
.tamna_shop_apply h2::before {
    position: absolute;
    width: 82px;
    height: 80px;
    content: "";
    background: url(../images/intro/tamna_what_is_logo.jpg) no-repeat;
    top: -130px;
    left: 50%;
    margin-left: -41px;
}
.tamna_shop_apply h2 {
    position: relative;
    display: block;
    font-size: 28px;
    font-weight: 500;
    letter-spacing: -3px;
    text-align: center;
    top: 130px;
}

/* tamna_shop_apply_txt */
.tamna_shop_apply_txt {
    position: relative;
    font-size: 18px;
    letter-spacing: -1px;
    text-align: center;
    top: 160px;
}
.tamna_shop_apply_txt1 {
    font-weight: 400;
}
.tamna_shop_apply_txt2 {
    display: block;
    margin-top: 30px;
}
.tamna_shop_apply_txt3 {
    display: block;
    font-weight: 500;
    margin-bottom: 20px;
}
.tamna_shop_apply_txt4 {
    display: block;
    margin-top: 20px;
}

/* tamna_shop_apply_input */

.tamna_shop_apply_input_box {
    width: 735px;
    height: 205px;
    margin: 50px auto 150px;
}
#tamna_shop_apply_input_busiNum {
    display: block;
    width: 500px;
    height: 55px;
    font-size: 16px;
    margin: 0 auto 50px;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid #bbb;
    box-sizing: border-box;
    cursor: text;
}
.tamna_shop_apply_input_busiNum_txt {
    position: relative;
    color: rgb(240, 0, 0);
    top: -45px;
    left: 135px;
}
.tamna_shop_apply_input_busiNum_btn {
    display: block;
    width: 350px;
    height: 100px;
    border: 1px solid #888;
    text-align: center;
    background: #fff;
    margin: 0 auto 150px;
    font-size: 26px;
    font-weight: 300;
    line-height: 95px;
    cursor: pointer;
}
.tamna_shop_apply_input_busiNum_btn::after {
    content: " ❭❭";
    color: #21bdbd;
    transition: all 0.2s ease-out;
}
.tamna_shop_apply_input_busiNum_btn:hover {
    background: #21bdbd;
    transition: all 0.2s ease-in-out;
}
.tamna_shop_apply_input_busiNum_btn:hover::after {
    color: #fff;
    transition: all 0.15s ease-in-out;
}

/* main end */

