@charset "utf-8";

/* css reset */
/* block 요소 m,p reset */
body, h1, h2, h3, h4, div, p, ul, li, dl, dt, dd {margin: 0; padding: 0;}

/* another */
a {text-decoration: none; color: #000;}

ul,li {list-style: none;}

address {font-style: normal;}

button {border:0; padding:0; background:transparent; cursor:pointer; *overflow:visible;}

input {border:0; padding:0; background:transparent; cursor:pointer; *overflow:visible;}

/* font setting */

body {font-size: 14px; font-family: 'Noto Sans KR', '돋움', sans-serif; font-weight: 200;}

/* ------------------------------------------------------------------------------- */

/* Common class */

        /* .blind {visibility: hidden; } 글자있던 자리는 남아있게 됨 */
        .blind {position: absolute; clip: rect(0, 0, 0, 0); width: 1px; height: 1px; margin: -1px; overflow: hidden;}

        /* scroll 숨김 */
        body {overflow: auto; overflow-x: hidden;}


/* -------------------------------------------------------------------------------- */

/* header start */

.header {
    height: 100px;
    border-bottom: 1px solid #ccc;
    box-sizing: border-box;
    margin: 0 auto 150px;
}

.header_box {
    position: relative;
    width: 1181px;
    height: 100px;
    margin: auto;
}
.header_box h1{
    position: absolute;
    width: 89px;
    height: 90px;
    background: url(../images/tamna_logo.jpg) no-repeat;
    text-indent: -9999px;
    float: left;
    top: 7px;
    left: 5px;
}
.header_box h1 a {
    height: 100%;
    display: block;
}

/* gnb */

.gnb ul li a {
    display: block;
    height: 100%;
}
.gnb_info {
    position: absolute;
    width: 126px;
    height: 65px;
    background: url(../images/gnb_info.jpg) no-repeat;
    text-indent: -9999px;
    float: left;
    top: 18px;
    left: 160px;
}
.gnb_personal {
    position: absolute;
    width: 153px;
    height: 65px;
    background: url(../images/gnb_personal.jpg) no-repeat;
    text-indent: -9999px;
    float: left;
    top: 18px;
    left: 395px;
}
.gnb_shop {
    position: absolute;
    width: 106px;
    height: 65px;
    background: url(../images/gnb_shop.jpg) no-repeat;
    text-indent: -9999px;
    float: left;
    top: 18px;
    left: 663px;
}
.gnb_customer {
    position: absolute;
    width: 128px;
    height: 65px;
    background: url(../images/gnb_customer.jpg) no-repeat;
    text-indent: -9999px;
    float: left;
    top: 18px;
    left: 897px;
}
.gnb_more {
    position: absolute;
    display: block;
    width: 86px;
    height: 81px;
    background: url(../images/gnb_more.jpg) no-repeat;
    text-indent: -9999px;
    float: left;
    top: 9px;
    left: 1095px;
}

/* sub menu */

.gnb_sub {
    height: 298px;
    background: #fff;
    margin: auto;
    opacity: 0.95;
    z-index: -1;
}
.gnb_sub_box{
    position: relative;
    width: 1181px;
    height: 298px;
    margin: auto;
    z-index: 0;
}
.gnb_sub_box h3 {
    position: absolute;
    width: 366px;
    height: 298px;
    background: url(../images/gnb_sub_wave.jpg) no-repeat left;
    margin: auto;
    text-indent: -9999px;
    left: -200px;
}
.gnb_info_sub {
    position: relative;
    width: 140px;
    height: 298px;
    margin: auto;
    z-index: 1;
    left: -8px;
}
.gnb_info_sub a {
    font-size: 18px;
    font-weight: 500;
    line-height: 60px;
    letter-spacing: -1px;
    color: #424242;
    text-indent: 0;
    text-align: center;
    margin-top: 15px;
}
.gnb_info_sub a::after {
    position: absolute; 
    content:"";
    display: block;
    border-bottom: 2px solid #fece08;
    box-shadow: 2px 2px 1px #eee;
    transition: all 0.25s ease-out;
    left: 50%;
    width: 0;
}
.gnb_info_sub a:hover::after {
    transition: all 0.2s ease-in-out;
    left: 1px;
    width: 135px;
}
.gnb_personal_sub {
    position: relative;
    width: 140px;
    height: 298px;
    margin: auto;
    z-index: 1;
}
.gnb_personal_sub a{
    font-size: 18px;
    font-weight: 500;
    line-height: 60px;
    letter-spacing: -1.5px;
    color: #424242;
    text-indent: 0;
    text-align: center;
    margin-top: 15px;
}
.gnb_personal_sub a::after {
    position: absolute; 
    content:"";
    display: block;
    border-bottom: 2px solid #fece08;
    box-shadow: 2px 2px 1px #eee;
    transition: all 0.25s ease-out;
    left: 50%;
    width: 0;
}
.gnb_personal_sub a:hover::after {
    transition: all 0.2s ease-in-out;
    left: 25px;
    width: 90px;
}
.gnb_shop_sub {
    position: relative;
    width: 140px;
    height: 298px;
    margin: auto;
    z-index: 1;
    left: -15px;
}
.gnb_shop_sub a {
    font-size: 18px;
    font-weight: 500;
    line-height: 60px;
    letter-spacing: -1.5px;
    color: #424242;
    text-indent: 0;
    text-align: center;
    margin-top: 15px;
}
.gnb_shop_sub a::after {
    position: absolute; 
    content:"";
    display: block;
    border-bottom: 2px solid #fece08;
    box-shadow: 2px 2px 1px #eee;
    transition: all 0.25s ease-out;
    left: 50%;
    width: 0;
}
.gnb_shop_sub a:hover::after {
    transition: all 0.2s ease-in-out;
    left: 1px;
    width: 135px;
}
.gnb_customer_sub {
    position: relative;
    width: 140px;
    height: 298px;
    margin: auto;
    z-index: 1;
    left: -4px;
}
.gnb_customer_sub a {
    font-size: 18px;
    font-weight: 500;
    line-height: 60px;
    letter-spacing: -1.5px;
    color: #424242;
    text-indent: 0;
    text-align: center;
    margin-top: 15px;
}
.gnb_customer_sub a::after {
    position: absolute; 
    content:"";
    display: block;
    border-bottom: 2px solid #fece08;
    box-shadow: 2px 2px 1px #eee;
    transition: all 0.25s ease-out;
    left: 50%;
    width: 0;
}
.gnb_customer_sub a:hover::after {
    transition: all 0.2s ease-in-out;
    left: 20px;
    width: 100px;
}

/* main */

/* tamna_shop_benefit */

.tamna_shop_benefit {
    position: relative;
    width: 485px;
    height: 245px;
    margin: 0 auto 50px;
}
.tamna_shop_benefit h2::before {
    position: absolute;
    width: 82px;
    height: 80px;
    content: "";
    background: url(../images/apply/tamna_card_apply_logo.jpg) no-repeat;
    top: -130px;
    left: 210px;
}
.tamna_shop_benefit h2 {
    position: relative;
    display: block;
    font-size: 28px;
    font-weight: 500;
    letter-spacing: -3px;
    text-align: center;
    top: 130px;
}
.tamna_shop_benefit_txt {
    position: absolute;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: -2px;
    line-height: 22px;
    text-align: center;
    top: 200px;
}
.tamna_shop_benefit_txt span {
    position: relative;
    display: inline-block;
    letter-spacing: -1.5px;
    font-size: 16px;
    font-weight: 200;
    margin-top: 4px;
}

/* tamna_shop_benefit_list */
.tamna_shop_benefit_list_box {
    width: 1085px;
    height: 455px;
    margin: auto;
}
.tamna_shop_benefit_list1 {
    width: 260px;
    height: 455px;
    background: url(../images/shop_benefit/shop_benefit1.jpg) no-repeat;
    text-indent: -9999px;
    float: left;
    margin-right: 15px;
}
.tamna_shop_benefit_list2 {
    width: 260px;
    height: 455px;
    background: url(../images/shop_benefit/shop_benefit2.jpg) no-repeat;
    text-indent: -9999px;
    float: left;
    margin-right: 15px;
}
.tamna_shop_benefit_list3 {
    width: 260px;
    height: 455px;
    background: url(../images/shop_benefit/shop_benefit3.jpg) no-repeat;
    text-indent: -9999px;
    float: left;
    margin-right: 15px;
}
.tamna_shop_benefit_list4 {
    width: 260px;
    height: 455px;
    background: url(../images/shop_benefit/shop_benefit4.jpg) no-repeat;
    text-indent: -9999px;
    float: left;
}

/* tamna_shop_benefit_to_apply_link */

.tamna_shop_benefit_to_apply_link {
    position: relative;
    width: 350px;
    height: 100px;
    border: 1px solid #888;
    text-align: center;
    margin: 0 auto 150px;
    font-size: 26px;
    font-weight: 300;
    line-height: 95px;
    top: 50px;
}

.tamna_shop_benefit_to_apply_link a {
    display: block;
    height: 100%;
    color: #111;
    transition: all 0.2s ease-out;
}
.tamna_shop_benefit_to_apply_link a::after {
    content: " ❭❭";
    color: #21bdbd;
    transition: all 0.2s ease-out;
}
.tamna_shop_benefit_to_apply_link a:hover {
    background: #21bdbd;
    transition: all 0.2s ease-in-out;
}
.tamna_shop_benefit_to_apply_link a:hover::after {
    color: #fff;
    transition: all 0.15s ease-in-out;
}
/* main end */


/* footer */

.footer {
    height: 180px;
    background: #4c4c4c;
    margin: auto;
}
.footer_box {
    position: relative;
    width: 1181px;
    height: 180px;
    margin: auto;
}
.footer_box a {
    display: block;
    height: 100%;
}
.footer_box h2 {
    position: absolute;
    width: 86px;
    height: 150px;
    background: url(../images/footer_tamna_logo.jpg) no-repeat;
    text-indent: -9999px;
    float: left;
    top: 15px;
    left: 35px;
}
.footer_txt {
    position: absolute;
    font-size: 16px;
    color: #eee;
    float: left;
    top: 65px;
    left: 220px;
}
address {
    float: left;
    margin-bottom: 5px;
}
address::after {
    content: " | ";
    margin: 0 10px 0 5px;
}
.footer_txt p:nth-child(2) {
    float: left;
    margin-bottom: 5px;
}
.footer_jejugoverment {
    position: absolute;
    width: 217px;
    height: 70px;
    background: url(../images/footer_jeju_logo.jpg) no-repeat center;
    text-indent: -9999px;
    top: 60px;
    right: 50px;
}