@charset "utf-8";

/* main */

/* tamna_card_login */

.tamna_card_login {
    position: relative;
    width: 430px;
    height: 615px;
    margin: 150px auto 150px;
}
.tamna_card_login h2::before {
    position: absolute;
    width: 82px;
    height: 80px;
    content: "";
    background: url(../images/apply/tamna_card_apply_logo.jpg) no-repeat;
    top: -130px;
    left: 50%;
    margin-left: -41px;
}
.tamna_card_login h2 {
    position: relative;
    display: block;
    font-size: 28px;
    font-weight: 500;
    letter-spacing: -3px;
    text-align: center;
    top: 130px;
}
.tamna_card_login_txt {
    position: absolute;
    font-size: 16px;
    letter-spacing: -1.5px;
    text-align: center;
    top: 210px;
    left: 50%;
    margin-left: -216px;
}
.tamna_card_login_input {
    position: relative;
    width: 430px;
    height: 194px;
    margin: auto;
    top: 230px;
}
.tamna_card_login_id {
    width: 430px;
    height: 55px;
    border: 1px solid #ddd;
    box-sizing: border-box;
    padding-left: 20px;
    cursor: text;
}
.tamna_card_login_id::placeholder {
    font-size: 16px;
    color: #ccc;
}
.tamna_card_login_id_txt {
    position: relative;
    top: 3px;
    left: 20px;
    color: #aaa;
}
.tamna_card_login_pw {
    width: 430px;
    height: 55px;
    border: 1px solid #ddd;
    box-sizing: border-box;
    font-size: 16px;
    margin: 20px auto 20px;
    padding-left: 20px;
    cursor: text;
}
.tamna_card_login_pw::placeholder {
    font-size: 16px;
    color: #ccc;
}
.tamna_card_login_pw_txt {
    position: relative;
    top: -18px;
    left: 20px;
    color: #aaa;
}
.tamna_card_login_button {
    width: 430px;
    height: 55px;
    background: #21bdbd;
    border: 1px solid #ddd;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
.tamna_card_login_button:hover {
    background: #fff;
    color: #333;
    transition: all 0.2s ease-in-out;
}
.tamna_card_login_find {
    position: relative;
    margin: auto;
}
.tamna_card_login_find ul {
    position: absolute;
    font-size: 16px;
    color: #999;
    top:290px;
    left: 50%;
    margin-left: -65px;
}
.tamna_card_login_find ul li {
    position: relative;
    float: left;
}
.tamna_card_login_find ul li a {
    display: inline-block;
}
.tamna_card_login_find ul li:nth-child(1)::after {
    content: "|";
    margin: 0 10px 0 10px;
}
.tamna_card_login_find ul li:nth-child(2)::after {
    content: "|";
    margin: 0 10px 0 10px;
}
.tamna_card_login_fromapp {
    position: relative;
    top: 350px;
    left: 50%;
    margin-left: -90px;
    font-size: 16px;
}
.tamna_card_login_fromapp a {
    color: #f47f26;
}
.tamna_card_login_fromapp a::after {
    position: relative;
    display: block;
    width: 180px;
    height: 5px;
    content: "";
    border-bottom: 1px solid #f47f26;
    opacity: 0.4;
    left: -1px;
    transition: all 0.2s ease-in-out;
}
.tamna_card_login_fromapp a:hover::after {
    opacity: 0.8;
    transition: all 0.2s ease-in-out;
}
