@charset "utf-8";

/* header start */

.header {
    height: 100px;
    border-bottom: 1px solid #ccc;
    box-sizing: border-box;
    margin: 0 auto 150px;
}

.header_box {
    position: relative;
    width: 1181px;
    height: 100px;
    margin: auto;
}
.header_box h1{
    position: absolute;
    width: 89px;
    height: 90px;
    background: url(../images/tamna_logo.jpg) no-repeat;
    text-indent: -9999px;
    float: left;
    top: 7px;
    left: 5px;
}
.header_box h1 a {
    height: 100%;
    display: block;
}

/* gnb */

.gnb ul li a {
    display: block;
    height: 100%;
}
.gnb_info {
    position: absolute;
    width: 126px;
    height: 65px;
    background: url(../images/gnb_info.jpg) no-repeat;
    text-indent: -9999px;
    float: left;
    top: 18px;
    left: 160px;
}
.gnb_personal {
    position: absolute;
    width: 153px;
    height: 65px;
    background: url(../images/gnb_personal.jpg) no-repeat;
    text-indent: -9999px;
    float: left;
    top: 18px;
    left: 395px;
}
.gnb_shop {
    position: absolute;
    width: 106px;
    height: 65px;
    background: url(../images/gnb_shop.jpg) no-repeat;
    text-indent: -9999px;
    float: left;
    top: 18px;
    left: 663px;
}
.gnb_customer {
    position: absolute;
    width: 128px;
    height: 65px;
    background: url(../images/gnb_customer.jpg) no-repeat;
    text-indent: -9999px;
    float: left;
    top: 18px;
    left: 897px;
}
.gnb_more {
    position: absolute;
    display: block;
    width: 86px;
    height: 81px;
    background: url(../images/gnb_more.jpg) no-repeat;
    text-indent: -9999px;
    float: left;
    top: 9px;
    left: 1095px;
}

/* sub menu */

.gnb_sub {
    height: 298px;
    background: #fff;
    margin: auto;
    opacity: 0.95;
    z-index: -1;
}
.gnb_sub_box{
    position: relative;
    width: 1181px;
    height: 298px;
    margin: auto;
    z-index: 0;
}
.gnb_sub_box h3 {
    position: absolute;
    width: 366px;
    height: 298px;
    background: url(../images/gnb_sub_wave.jpg) no-repeat left;
    margin: auto;
    text-indent: -9999px;
    left: -200px;
}
.gnb_info_sub {
    position: relative;
    width: 140px;
    height: 298px;
    margin: auto;
    z-index: 1;
    left: -8px;
}
.gnb_info_sub a {
    font-size: 18px;
    font-weight: 500;
    line-height: 60px;
    letter-spacing: -1px;
    color: #424242;
    text-indent: 0;
    text-align: center;
    margin-top: 15px;
}
.gnb_info_sub a::after {
    position: absolute; 
    content:"";
    display: block;
    border-bottom: 2px solid #fece08;
    box-shadow: 2px 2px 1px #eee;
    transition: all 0.25s ease-out;
    left: 50%;
    width: 0;
}
.gnb_info_sub a:hover::after {
    transition: all 0.2s ease-in-out;
    left: 1px;
    width: 135px;
}
.gnb_personal_sub {
    position: relative;
    width: 140px;
    height: 298px;
    margin: auto;
    z-index: 1;
}
.gnb_personal_sub a{
    font-size: 18px;
    font-weight: 500;
    line-height: 60px;
    letter-spacing: -1.5px;
    color: #424242;
    text-indent: 0;
    text-align: center;
    margin-top: 15px;
}
.gnb_personal_sub a::after {
    position: absolute; 
    content:"";
    display: block;
    border-bottom: 2px solid #fece08;
    box-shadow: 2px 2px 1px #eee;
    transition: all 0.25s ease-out;
    left: 50%;
    width: 0;
}
.gnb_personal_sub a:hover::after {
    transition: all 0.2s ease-in-out;
    left: 25px;
    width: 90px;
}
.gnb_shop_sub {
    position: relative;
    width: 140px;
    height: 298px;
    margin: auto;
    z-index: 1;
    left: -15px;
}
.gnb_shop_sub a {
    font-size: 18px;
    font-weight: 500;
    line-height: 60px;
    letter-spacing: -1.5px;
    color: #424242;
    text-indent: 0;
    text-align: center;
    margin-top: 15px;
}
.gnb_shop_sub a::after {
    position: absolute; 
    content:"";
    display: block;
    border-bottom: 2px solid #fece08;
    box-shadow: 2px 2px 1px #eee;
    transition: all 0.25s ease-out;
    left: 50%;
    width: 0;
}
.gnb_shop_sub a:hover::after {
    transition: all 0.2s ease-in-out;
    left: 1px;
    width: 135px;
}
.gnb_customer_sub {
    position: relative;
    width: 140px;
    height: 298px;
    margin: auto;
    z-index: 1;
    left: -4px;
}
.gnb_customer_sub a {
    font-size: 18px;
    font-weight: 500;
    line-height: 60px;
    letter-spacing: -1.5px;
    color: #424242;
    text-indent: 0;
    text-align: center;
    margin-top: 15px;
}
.gnb_customer_sub a::after {
    position: absolute; 
    content:"";
    display: block;
    border-bottom: 2px solid #fece08;
    box-shadow: 2px 2px 1px #eee;
    transition: all 0.25s ease-out;
    left: 50%;
    width: 0;
}
.gnb_customer_sub a:hover::after {
    transition: all 0.2s ease-in-out;
    left: 20px;
    width: 100px;
}

/* main */

/* tamna_card_login */

.tamna_card_login {
    position: relative;
    width: 430px;
    height: 615px;
    margin: 0 auto 150px;
}
.tamna_card_login h2::before {
    position: absolute;
    width: 82px;
    height: 80px;
    content: "";
    background: url(../images/apply/tamna_card_apply_logo.jpg) no-repeat;
    top: -130px;
    left: 50%;
    margin-left: -41px;
}
.tamna_card_login h2 {
    position: relative;
    display: block;
    font-size: 28px;
    font-weight: 500;
    letter-spacing: -3px;
    text-align: center;
    top: 130px;
}
.tamna_card_login_txt {
    position: absolute;
    font-size: 16px;
    letter-spacing: -1.5px;
    text-align: center;
    top: 210px;
    left: 50%;
    margin-left: -216px;
}
.tamna_card_login_input {
    position: relative;
    width: 430px;
    height: 194px;
    margin: auto;
    top: 230px;
}
.tamna_card_login_id {
    width: 430px;
    height: 55px;
    border: 1px solid #ddd;
    box-sizing: border-box;
    padding-left: 20px;
    cursor: text;
}
.tamna_card_login_id::placeholder {
    font-size: 16px;
    color: #ccc;
}
.tamna_card_login_id_txt {
    position: relative;
    top: 3px;
    left: 20px;
    color: #aaa;
}
.tamna_card_login_pw {
    width: 430px;
    height: 55px;
    border: 1px solid #ddd;
    box-sizing: border-box;
    font-size: 16px;
    margin: 20px auto 20px;
    padding-left: 20px;
    cursor: text;
}
.tamna_card_login_pw::placeholder {
    font-size: 16px;
    color: #ccc;
}
.tamna_card_login_pw_txt {
    position: relative;
    top: -18px;
    left: 20px;
    color: #aaa;
}
.tamna_card_login_button {
    width: 430px;
    height: 55px;
    background: #21bdbd;
    border: 1px solid #ddd;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
.tamna_card_login_button:hover {
    background: #fece08;
    color: #333;
    transition: all 0.2s ease-in-out;
}
.tamna_card_login_find {
    position: relative;
    margin: auto;
}
.tamna_card_login_find ul {
    position: absolute;
    font-size: 16px;
    color: #999;
    top:290px;
    left: 50%;
    margin-left: -65px;
}
.tamna_card_login_find ul li {
    position: relative;
    float: left;
}
.tamna_card_login_find ul li a {
    display: inline-block;
}
.tamna_card_login_find ul li:nth-child(1)::after {
    content: "|";
    margin: 0 10px 0 10px;
}
.tamna_card_login_find ul li:nth-child(2)::after {
    content: "|";
    margin: 0 10px 0 10px;
}
.tamna_card_login_fromapp {
    position: relative;
    top: 350px;
    left: 50%;
    margin-left: -90px;
    font-size: 16px;
}
.tamna_card_login_fromapp a {
    color: #f47f26;
}
.tamna_card_login_fromapp a::after {
    position: relative;
    display: block;
    width: 180px;
    height: 5px;
    content: "";
    border-bottom: 1px solid #f47f26;
    opacity: 0.4;
    left: -1px;
    transition: all 0.2s ease-in-out;
}
.tamna_card_login_fromapp a:hover::after {
    opacity: 0.8;
    transition: all 0.2s ease-in-out;
}

/* footer */

.footer {
    height: 180px;
    background: #4c4c4c;
    margin: auto;
}
.footer_box {
    position: relative;
    width: 1181px;
    height: 180px;
    margin: auto;
}
.footer_box a {
    display: block;
    height: 100%;
}
.footer_box h2 {
    position: absolute;
    width: 86px;
    height: 150px;
    background: url(../images/footer_tamna_logo.jpg) no-repeat;
    text-indent: -9999px;
    float: left;
    top: 15px;
    left: 35px;
}
.footer_txt {
    position: absolute;
    font-size: 16px;
    color: #eee;
    float: left;
    top: 65px;
    left: 220px;
}
address {
    float: left;
    margin-bottom: 5px;
}
address::after {
    content: " | ";
    margin: 0 10px 0 5px;
}
.footer_txt p:nth-child(2) {
    float: left;
    margin-bottom: 5px;
}
.footer_jejugoverment {
    position: absolute;
    width: 217px;
    height: 70px;
    background: url(../images/footer_jeju_logo.jpg) no-repeat center;
    text-indent: -9999px;
    top: 60px;
    right: 50px;
}