@charset "utf-8";
@viewport {
    zoom: 1;
    min-zoom: 1;
    max-zoom: 1;
}

body{
    font-size: 0.8vw;
    background: url(../images/background.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.header_wrap{
    position: fixed;
    display: flex;
    width: 99.8vw;
    height: 10vh;
    padding-left: 1.5vw;
    padding-right: 1.5vw;
    flex-flow: row;
    justify-content: space-between;
    box-sizing: border-box;
    align-items:center;
    z-index: 100;
}
.logo{
    width: 90px;
    height: 29px;
    background: url(../images/kenna9029.png) no-repeat;
    text-indent: -9999px;
}
.toggleTheme{
    border: 1px solid #444;
    cursor: pointer;
}
/* main */
 
.main{
    position: relative;
    width: 99.8vw;
    height: 100%;
}
    /* link hover */
    .link{
        cursor: pointer;
        transition: all 0.7s;
    }
    .link:hover{
        font-weight: 500;
        transition: all 0.7s;
    }
/* title */

.title{
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    width: 99.8vw;
    height: 100vh;
    margin: auto;
    padding-left: 1.5vw;
    border-top: 1px solid #eee;
    box-sizing: border-box;
    z-index: 1;
    overflow: hidden;
}
.title_header{
    font-size: 0.8rem;
    font-weight: 900;
    letter-spacing: -0.015rem;
    margin-top: 10vh;
}
.title_header_text{
    font-size: 0.8rem;
    letter-spacing: -0.015rem;
    text-align: right;
    margin-top: 28vh;
    margin-right: 12vw;
}
.developer{
    font-size: 1.714rem;
    font-weight: 900;
    letter-spacing: -0.05rem;
}
.name{
    font-size: 1.429rem;
    font-weight: 600;
    line-height: 2rem;
}
.name span{
    font-size: 1rem;
    font-weight: 200;
}
.down_wrap{
    position: absolute;
    width: 4vw;
    margin: auto;
    opacity: 0.5;
    left: 48vw;
    bottom: 5vh;
    cursor: pointer;
}
.down{
    width: 80%;
    height: 80%;
    background: url(../images/arrow.png) no-repeat;
    background-size: contain;
    text-indent: -9999px;
}

/* about */

.about{
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    width: 98.9vw;
    height: 100vh;
    margin: auto;
    padding-left: 1.5vw;
    border-top: 1px solid #eee;
    box-sizing: border-box;
    z-index: 1;
    overflow: hidden;
}
.about_header{
    font-size: 0.8rem;
    font-weight: 900;
    letter-spacing: -0.015rem;
    margin-top: 5vh;
    margin-bottom: 0.4vh;
} 
.about_top{
    display: flex;
    width: 98.9vw;
    height: 50%;
    flex-flow: row nowrap;
    padding-bottom: 1vh;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}
.about_img{
    position: relative;
    display: flex;
    width: 49%;
    height: 100%;
    margin-right: 2%;
    align-items: center;
    justify-content: center;
    box-sizing:border-box;
    cursor:pointer;
}
.img_1{
    position:absolute;
    width: 35%;
}
.about_txt{
    display: flex;
    width: 49%;
    box-sizing: border-box;
    flex-flow: column nowrap;
    align-self: center;
    padding-bottom: 2%;
}
.about_name{
    font-size: 1.4rem;
    font-weight: 500;
}
.engname{
    font-size: 0.8rem;
    margin-bottom: 1%;
}
.talk{
    margin-top: 0.2%;
    margin-bottom: 2%;
}
.about_txt_mail{
    display: flex;
    align-items: center;
    margin-bottom: 1%;
}
.mail{
    font-size: 0.8rem;
    font-weight: 500;
    cursor: pointer;
}
.mail_contents{
    margin-left: 1%;
}
.mailaddr{
    font-size: 0.8rem;
}
.about_txt_gitchart{
    margin-bottom: 1%;
}
.github{
    font-size: 0.8rem;
    font-weight: 500;
    margin: 0.5% 1% 0.5% 0;
    cursor: pointer;
}
.githubblog{
    display: block;
    width: 40px;
    height: 40px;
    background: url(../images/github.png) no-repeat center;
    background-size: contain;
    text-indent: 50px;
}
.chart{
    display: block;
    width: 65%;
    margin-bottom: 2%;
}
.about_txt_blog{
    display: flex;
    align-items: center;
}
.blog{
    font-size: 0.8rem;
    font-weight: 500;
    cursor: pointer;
}
.blogaddr{
    margin-left: 1%;
    font-size: 0.8rem;
}
/* toggle 기능 구현 */

.chartbox, .mailbox, .about_txt_github, .mail_contents, .blogbox, .blogaddr {
    display:none;
}
.chartbox:checked+.about_txt_github{display: block;}
.mailbox:checked+.mail_contents{display: block;}
.blogbox:checked+.blogaddr{display: block;}

/* skills */

.about_skills{
    display: flex;
    width: 98.9vw;
    height: 45vh;
    flex-flow: row wrap;
    align-items: stretch;
    box-sizing: border-box;
}
.skills_header{
    width: 100%;
    height: 10%;
    font-size: 0.8rem;
    font-weight: 900;
    letter-spacing: -0.015rem;
    margin-bottom: 0.2vh;
}
.label{
    font-size: 0.8rem;
    font-weight: 600;
    cursor: pointer;
}
.skill_wrap{
    display: flex;
    flex-flow: column nowrap;
    width: 70%;
    height: 90%;
}
.skillbox{
    margin-top: 2%;
}
.about_skills_top{
    display: flex;
    width: 100%;
    height: 50%;
    justify-content: space-between;
    padding: 0 2% 0 2%;
    box-sizing: border-box;
}
.html{
    width: 25%;
    height: 100%;
    line-height: 2;
}
.js{
    width: 25%;
    height: 100%;
    line-height: 2;
}
.sql{
    width: 25%;
    height: 100%;
    line-height: 2;
}

.about_skills_bottom{
    display: flex;
    width: 100%;
    height: 50%;
    justify-content: space-between;
    padding: 0 2% 0 2%;
    box-sizing: border-box;
}
.css{
    width: 25%;
    height: 100%;
    line-height: 2;
}
.react{
    width: 25%;
    height: 100%;
    line-height: 2;
}
.php{
    width: 25%;
    height: 100%;
    line-height: 2;
}
.about_skills_etc{
    width: 30%;
    height: 90%;
    padding-left: 1%;
    box-sizing: border-box;
}
.skills_etc{
    width: 100%;
    height: 100%;
    margin-top: 2.5%;

}
.grap{
    margin-top: 1%;
    margin-bottom: 2%;
    line-height: 1.5;
}
.git{
    margin-top: 1%;
    margin-bottom: 1.5%;
    line-height: 1.5;
}

/* toggle 기능 구현 */

.toggle, .skillbox{
    display:none;
}
.toggle:checked+.skillbox{display: block;}

/* about me */

.about_me{
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    width: 99.8vw;
    height: 100vh;
    margin: auto;
    padding-left: 1.5vw;
    border-top: 1px solid #eee;
    box-sizing: border-box;
    z-index: 1;
    overflow: hidden;
}

.about_me_header{
    width: 100%;
    font-size: 0.8rem;
    font-weight: 900;
    letter-spacing: -0.015rem;
    margin-top: 5vh;
    margin-bottom: 5vh;
}
.about_me_section{
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
}
.about_me_one{
    width: 31%;
    height: 80%;
    padding: 2%;
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.5);
    margin-right: 2%;
    overflow: scroll;
}
.about_me_one_header{
    font-size: 1.2rem;
    margin-bottom: 6%;
}
.about_me_one_txt{
    font-size: 1rem;
}
.about_me_one_txt dt{
    font-weight: 500;
    margin-bottom: 3%;
}
.about_me_one_txt dd{
    margin-bottom: 4%;
}
.menual{
    width: 100%;
}
.about_me_two{
    width: 31%;
    height: 80%;
    padding: 2%;
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.5);
    margin-right: 2%;
    overflow: scroll;
}
.about_me_two_header{
    font-size: 1.2rem;
    margin-bottom: 6%;
}
.about_me_two_txt{
    font-size: 1rem;
}
.about_me_two_txt dt{
    font-weight: 500;
    margin-bottom: 3%;
}
.about_me_two_txt dd{
    margin-bottom: 4%;
}
.about_me_three{
    width: 31%;
    height: 80%;
    padding:2%;
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.5);
    overflow: scroll;
}
.about_me_three_header{
    font-size: 1.2rem;
    margin-bottom: 6%;
}
.about_me_three_txt{
    font-size: 1rem;
}
.about_me_three dt{
    font-weight: 500;
    margin-bottom: 3%;
}
.about_me_three dd{
    margin-bottom: 4%;
}
/* web */

.web{
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    width: 99.8vw;
    height: 100vh;
    margin: auto;
    padding-left: 1.5vw;
    border-top: 1px solid #eee;
    box-sizing: border-box;
    z-index: 1;
    overflow: hidden;
}
.web_header{
    font-size: 0.8rem;
    font-weight: 900;
    letter-spacing: -0.015rem;
    margin-top: 5vh;
    margin-bottom: 5vh;
}
.web_section{
    width: 95%;
    height: 100%;
    background: url(../images/web_back.png) no-repeat;
    background-position: right;
    background-size: contain;
    margin-left: 5vw;
    margin-bottom: 10vh;
}
.web_section_cont{
    display: flex;
    width: 45vw;
    height: 100%;
    align-items:flex-start;
    flex-flow: column nowrap;
    padding-left: 5vw;
    box-sizing: border-box;
    justify-content: center;
}
.active{
    animation-name: fadein;
    animation-delay: 0.1s;
    animation-duration: 2s;
    animation-direction: alternate;
    animation-fill-mode: forwards;
}
.datetxt{
    font-size: 0.7143rem;
}
.divisiontxt{
    font-weight: 400;
}
.titletxt{
    margin-top: 2vh;
    margin-bottom: 0.7vh;
    font-weight: 600;
    font-size: 1.286rem;
    line-height: 1.5rem;
}
.secondtitletxt{
    margin-bottom: 2vh;
    line-height: 0.9rem;
}
.desctxt{
    font-size: 0.9rem;
    margin-bottom: 1rem;
    line-height: 1.2rem;
}
.process{
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: -0.05rem;
    margin-bottom: 0.2vh;
}
.processtxt{
    margin-bottom: 2vh;
}
.skill{
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: -0.05rem;
    margin-bottom: 0.2vh;
}
.skilltxt{
    margin-bottom: 5vh;
}
.web_link_ul{
    display: flex;
    flex-flow: row nowrap;
}
.web_link_ul>li{
    width: 5em;
    height: 2em;
    margin-right: 1em;
    border: 1px solid #333;
    border-radius: 10px;
    text-align: center;
    line-height: 1.85;
}

/* mobile */

.mobile{
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    width: 99.8vw;
    height: 100vh;
    margin: auto;
    padding-left: 1.5vw;
    border-top: 1px solid #eee;
    box-sizing: border-box;
    z-index: 1;
    overflow: hidden;
}
.mobile_header{
    font-size: 0.8rem;
    font-weight: 900;
    letter-spacing: -0.015rem;
    margin-top: 5vh;
    margin-bottom: 5vh;
}
.mobile_section{
    display: flex;
    width: 95%;
    height: 100%;
    background: url(../images/mobile_back.png) no-repeat;
    background-position: left;
    background-size: contain;
    flex-flow: row-reverse nowrap;
    margin-right: 5vw;
    margin-bottom: 10vh;
}
.mobile_section_cont{
    display: flex;
    width: 45vw;
    height: 100%;
    align-items: flex-start;
    flex-flow: column nowrap;
    padding-right: 5vw;
    box-sizing: border-box;
    justify-content: center;
}
.mobile_section_txt{
    text-align: right;
}
.mobile_link_ul{
    display: flex;
    flex-flow: row-reverse nowrap;
}
.mobile_link_ul>li{
    width: 5em;
    height: 2em;
    margin-right: 1em;
    border: 1px solid #333;
    border-radius: 10px;
    text-align: center;
    line-height: 1.85;
}

/* rwd */

.rwd{
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    width: 99.8vw;
    height: 100vh;
    margin: auto;
    padding-left: 1.5vw;
    border-top: 1px solid #eee;
    box-sizing: border-box;
    z-index: 1;
    overflow: hidden;
}
.rwd_header{
    font-size: 0.8rem;
    font-weight: 900;
    letter-spacing: -0.015rem;
    margin-top: 5vh;
    margin-bottom: 5vh;
}
.rwd_section{
    width: 95%;
    height: 100%;
    background: url(../images/rwd_back.png) no-repeat;
    background-position: right;
    background-size: contain;
    margin-left: 5vw;
    margin-bottom: 10vh;
}
.rwd_section_cont{
    display: flex;
    width: 45vw;
    height: 100%;
    align-items: flex-start;
    flex-flow: column nowrap;
    padding-left: 5vw;
    box-sizing: border-box;
    justify-content: center;
}
.datetxt{
    font-size: 0.7143rem;
}
.divisiontxt{
    font-weight: 400;
}
.titletxt{
    margin-top: 2vh;
    margin-bottom: 1vh;
    font-weight: 600;
    font-size: 1.286rem;
    line-height: 1.5rem;
}
.secondtitletxt{
    margin-bottom: 2vh;
    line-height: 0.9rem;
}
.process{
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: -0.05rem;
    margin-bottom: 0.2vh;
}
.processtxt{
    margin-bottom: 2vh;
}
.skill{
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: -0.05rem;
    margin-bottom: 0.2vh;
}
.skilltxt{
    margin-bottom: 5vh;
}
.rwd_link_ul{
    display: flex;
    flex-flow: row nowrap;
}
.rwd_link_ul>li{
    width: 5em;
    height: 2em;
    margin-right: 1em;
    border: 1px solid #333;
    border-radius: 10px;
    text-align: center;
    line-height: 1.85;
}

/* darkmode */
body.dark {
    background: url(../images/dbackground.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: #eaeaea;
}

body.dark a {
    color: #eaeaea;
}
body.dark input {
    color: #eaeaea;
}

#toggleTheme{
    display:none;
}
.darkmode{
    font-weight: 500;
    cursor: pointer;
}

@media (prefers-color-scheme: dark) {
    body {
        background: url(../images/dbackground.jpg) no-repeat;
        color: #bbb;
    }

    a {
        color: #eee;
    }
}