@charset "utf-8";
body{
    background: url(../images/background.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.header_wrap{
    position: fixed;
    display: flex;
    width: 99.8vw;
    height: 10vh;
    padding-right: 1vw;
    flex-flow: row-reverse;
    box-sizing: border-box;
    align-items: center;
    z-index: 100;
}
.logo{
    width: 90px;
    height: 29px;
    background: url(../images/kenna9029.png) no-repeat;
    text-indent: -9999px;
}

/* main */
 
.main{
    position: relative;
    width: 99.8vw;
    height: 100%;
}

/* title */

.title{
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    width: 99.8vw;
    height: 100vh;
    margin: auto;
    padding-left: 1.5vw;
    border-top: 1px solid #eee;
    box-sizing: border-box;
    z-index: 1;
}
.title_header{
    font-size: 0.8571rem;
    font-weight: 900;
    letter-spacing: -0.015rem;
    margin-top: 10vh;
}
.title_header_text{
    font-size: 0.8571rem;
    letter-spacing: -0.015rem;
    text-align: right;
    margin-top: 28vh;
    margin-right: 12vw;
}
.developer{
    font-size: 1.714rem;
    font-weight: 900;
    letter-spacing: -0.05rem;
}
.kenna{
    font-size: 1.429rem;
    font-weight: 200;
    letter-spacing: -0.07rem;
    line-height: 1rem;
}
.name{
    font-size: 1.143rem;
    font-weight: 200;
    line-height: 2.5rem;
}
.down_wrap{
    position: absolute;
    width: 4vw;
    margin: auto;
    opacity: 50%;
    left: 48vw;
    bottom: 5vh;
}
.down{
    width: 80%;
    height: 80%;
    background: url(../images/arrow.png) no-repeat;
    background-size: contain;
    text-indent: -9999px;
}

/* about */

.about{
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    width: 98.9vw;
    height: 100vh;
    margin: auto;
    padding-left: 1.5vw;
    border-top: 1px solid #eee;
    box-sizing: border-box;
    z-index: 1;
}
.about_header{
    font-size: 0.8571rem;
    font-weight: 900;
    letter-spacing: -0.015rem;
    margin-top: 10vh;
} 
.about_top{
    display: flex;
    width: 98.9vw;
    height: 45vh;
    flex-flow: row nowrap;
}
.about_img{
    display: flex;
    width: 50%;
    background: url(../images/img.png) no-repeat;
    background-position: center;
    background-size: 30%;
}
.about_txt{
    width: 50%;
}
.name{
    font-size: 1.2rem;
    font-weight: 500;
}
.engname{
    font-size: 1rem;
    margin-top: 0.5%;
    margin-bottom: 2%;
}
.talk{
    margin-top: 1%;
}
.mail{
    font-weight: 500;
    margin-top: 1%;
    margin-bottom: 2%;
}
.github{
    font-weight: 500;
    margin-top: 0.5%;
    margin-bottom: 2%;
}
.chart{
    display: block;
    width: 80%;
}
/* toggle 기능 구현 */

.chartbox, .chart{
    display:none;
}
.chartbox:checked+.chart{display: block;}

.Blog{
    font-weight: 500;
    margin-top: 1%;
    margin-bottom: 0.5%;
}
/* skills */

.about_skills{
    display: flex;
    width: 98.9vw;
    height: 45vh;
    flex-flow: column wrap;
    align-items: stretch;
}
.label{
    font-size: medium;
    font-weight: 600;
}
.skillbox{
    margin-top: 4%;
}
.about_skills_top{
    display: flex;
    width: 80%;
    height: 50%;
    justify-content: space-between;
    padding: 0 2% 0 2%;
    box-sizing: border-box;
    order: 0;
}
.html{
    width: 25%;
    height: 100%;
}
.js{
    width: 25%;
    height: 100%;
}
.sql{
    width: 25%;
    height: 100%;
}

.about_skills_bottom{
    display: flex;
    width: 80%;
    height: 50%;
    justify-content: space-between;
    padding: 0 2% 0 2%;
    box-sizing: border-box;
    order: 1;
}
.css{
    width: 25%;
    height: 100%;
}
.react{
    width: 25%;
    height: 100%;
}
.php{
    width: 25%;
    height: 100%;
}

.about_skills_etc{
    width: 20%;
    height: 100%;
    box-sizing: border-box;
    order: 2;
}
.skills_etc{
    width: 90%;
    height: 90%;
    margin-top: 5%;
}
.grap{
    margin-bottom: 5%;
}
.git{
    margin-bottom: 5%;
}

/* toggle 기능 구현 */

.toggle, .skillbox{
    display:none;
}
.toggle:checked+.skillbox{display: block;}

/* web */

.web{
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    width: 99.8vw;
    height: 100vh;
    margin: auto;
    padding-left: 1.5vw;
    border-top: 1px solid #eee;
    box-sizing: border-box;
    z-index: 1;
}
.web_header{
    font-size: 0.8571rem;
    font-weight: 900;
    letter-spacing: -0.015rem;
    margin-top: 5vh;
    margin-bottom: 5vh;
}
.web_section{
    width: 95%;
    height: 100%;
    background: url(../images/web_back.png) no-repeat;
    background-position: right;
    background-size: contain;
    margin-left: 5vw;
    margin-bottom: 10vh;
}
.web_section_cont{
    display: flex;
    width: 45vw;
    height: 100%;
    align-items: left;
    flex-flow: column nowrap;
    padding-left: 5vw;
    box-sizing: border-box;
    justify-content: center;
}
.datetxt{
    font-size: 0.7143rem;
}
.divisiontxt{
    font-weight: 400;
}
.titletxt{
    margin-top: 2vh;
    margin-bottom: 0.5vh;
    font-weight: 300;
    font-size: 1.286rem;
    line-height: 1.5rem;
}
.secondtitletxt{
    margin-bottom: 2vh;
    line-height: 0.9rem;
}
.desctxt{
    margin-bottom: 1rem;
    line-height: 1rem;
}
.process{
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: -0.05rem;
    margin-bottom: 0.2vh;
}
.processtxt{
    margin-bottom: 2vh;
}
.skill{
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: -0.05rem;
    margin-bottom: 0.2vh;
}
.skilltxt{
    margin-bottom: 5vh;
}
.web_link_ul{
    display: flex;
    flex-flow: row nowrap;
}
.web_link_ul>li{
    width: 5em;
    height: 2em;
    margin-right: 1em;
    border: 1px solid #333;
    border-radius: 10px;
}

/* mobile */

.mobile{
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    width: 99.8vw;
    height: 100vh;
    margin: auto;
    padding-left: 1.5vw;
    border-top: 1px solid #eee;
    box-sizing: border-box;
    z-index: 1;
}
.mobile_header{
    font-size: 0.8571rem;
    font-weight: 900;
    letter-spacing: -0.015rem;
    margin-top: 5vh;
    margin-bottom: 5vh;
}
.mobile_section{
    display: flex;
    width: 95%;
    height: 100%;
    background: url(../images/mobile_back.png) no-repeat;
    background-position: left;
    background-size: contain;
    flex-flow: row-reverse nowrap;
    margin-right: 5vw;
    margin-bottom: 10vh;
}
.mobile_section_cont{
    display: flex;
    width: 45vw;
    height: 100%;
    align-items: left;
    flex-flow: column nowrap;
    padding-right: 5vw;
    box-sizing: border-box;
    justify-content: center;
}
.mobile_section_txt{
    text-align: right;
}
.mobile_link_ul{
    display: flex;
    flex-flow: row-reverse nowrap;
}
.mobile_link_ul>li{
    width: 5em;
    height: 2em;
    margin-right: 1em;
    border: 1px solid #333;
    border-radius: 10px;
}

/* rwd */

.rwd{
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    width: 99.8vw;
    height: 100vh;
    margin: auto;
    padding-left: 1.5vw;
    border-top: 1px solid #eee;
    box-sizing: border-box;
    z-index: 1;
}
.rwd_header{
    font-size: 0.8571rem;
    font-weight: 900;
    letter-spacing: -0.015rem;
    margin-top: 5vh;
    margin-bottom: 5vh;
}
.rwd_section{
    width: 95%;
    height: 100%;
    background: url(../images/rwd_back.png) no-repeat;
    background-position: right;
    background-size: contain;
    margin-left: 5vw;
    margin-bottom: 10vh;
}
.rwd_section_cont{
    display: flex;
    width: 45vw;
    height: 100%;
    align-items: left;
    flex-flow: column nowrap;
    padding-left: 5vw;
    box-sizing: border-box;
    justify-content: center;
}
.datetxt{
    font-size: 0.7143rem;
}
.divisiontxt{
    font-weight: 400;
}
.titletxt{
    margin-top: 2vh;
    margin-bottom: 0.5vh;
    font-weight: 300;
    font-size: 1.286rem;
    line-height: 1.5rem;
}
.secondtitletxt{
    margin-bottom: 2vh;
    line-height: 0.9rem;
}
.desctxt{
    margin-bottom: 1rem;
    line-height: 1rem;
}
.process{
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: -0.05rem;
    margin-bottom: 0.2vh;
}
.processtxt{
    margin-bottom: 2vh;
}
.skill{
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: -0.05rem;
    margin-bottom: 0.2vh;
}
.skilltxt{
    margin-bottom: 5vh;
}
.web_link_ul{
    display: flex;
    flex-flow: row nowrap;
}
.rwd_link_ul>li{
    width: 5em;
    height: 2em;
    margin-right: 1em;
    border: 1px solid #333;
    border-radius: 10px;
}
