@charset "utf-8";

/* main */

.main{
    width: 767px;
    height: 100%;
    margin: 0 auto;
    padding-top: 50px;
    box-sizing: border-box;
    z-index: 0;
}
.tamna_join{
    width: 645px;
    height: 100%;
    margin: 0 auto 25px;
}
.tamna_join>h2::before{
    display: block;
    content: "";
    width: 80px;
    height: 82px;
    background: url(../images/tamna_mobile_logo.jpg) no-repeat;
    margin-bottom: 50px;
}
.tamna_join>h2{
    margin-bottom: 50px;
}
.tamna_join_txt{
    width: 530px;
    font-size: 12px;
    margin-bottom: 50px;
}
.tamna_join_order{
    width: 400px;
    height: 30px;
    margin: 0;
}
.tamna_join_order ol{
    width: 400px;
    height: 30px;
    font-size: 12px;
}
.tamna_join_order ol li:nth-child(1){
    width: 69px;
    height: 30px;
    float: left;
}
.tamna_join_order ol li:nth-child(1)::after{
    content: " 〉";
    margin-left: 5px;
}
.tamna_join_order ol li:nth-child(2){
    width: 90px;
    height: 30px;
    float: left;
    font-weight: 600;
    color: #21bdbd;
}
.tamna_join_order ol li:nth-child(2)::after{
    content: " 〉";
    margin-left: 5px;
}
.tamna_join_order ol li:nth-child(3){
    width: 50px;
    height: 30px;
    float: left;
}

.tamna_input_form{
    position: relative;
    width: 645px;
    height: 100%;
    margin: 0 auto 50px;
    font-size: 12px;
}
.tamna_join_username_box{
    display: block;
    width: 645px;
    height: 50px;
    padding-left: 60px;
    padding-top: 5px;
    border-top: 1px solid #444;
    box-sizing: border-box;
}
#tamna_join_username{
    width: 415px;
    height: 40px;
    margin-left: 82px;
    padding-left: 10px;
    border: 1px solid #ccc;
    background: #fff;
    cursor: text;
}
.tamna_join_gender_box{
    position: relative;
    display: block;
    width: 645px;
    height: 50px;
    padding-left: 60px;
    padding-top: 5px;
    border-top: 1px solid #444;
    box-sizing: border-box;
}
.tamna_join_gender_label{
    position: relative;
    top: 10px;
}
#tamna_join_gender_male { /* gender input*/
    width: 1px; 
    height: 1px; 
    padding: 0; 
    margin: -1px; 
    overflow: hidden; 
    clip:rect(0,0,0,0); 
    border: 0;
}
.tamna_join_gender_male_label{
    position: absolute;
    display: inline-block;
    width: 210px;
    height: 40px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    background: #fff;
    cursor: pointer;
    top: 4px;
    left: 167px;
}
#tamna_join_gender_male:checked~.tamna_join_gender_male_label>span{
    position: absolute;
    display: inline-block;
    width: 210px;
    height: 39px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    background: #21bdbd;
}
.tamna_join_gender_male_label_txt{
    position: absolute;
    padding-top: 8px;
    padding-left: 20px;
}
#tamna_join_gender_female { /* gender input*/
    width: 1px; 
    height: 1px; 
    padding: 0; 
    margin: -1px; 
    overflow: hidden; 
    clip:rect(0,0,0,0); 
    border: 0;
}
.tamna_join_gender_female_label{
    position: absolute;
    display: inline-block;
    width: 209px;
    height: 40px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    background: #fff;
    cursor: pointer;
    top: 4px;
    left: 385px;
}
#tamna_join_gender_female:checked~.tamna_join_gender_female_label>span{
    position: absolute;
    display: inline-block;
    width: 209px;
    height: 39px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    background: #21bdbd;
}
.tamna_join_gender_female_label_txt{
    position: absolute;
    padding-top: 8px;
    padding-left: 20px;
}
.tamna_join_birth_box{
    display: block;
    width: 645px;
    height: 50px;
    padding-left: 50px;
    padding-top: 5px;
    border-top: 1px solid #444;
    box-sizing: border-box;
}
#tamna_join_birthyear{
    width: 170px;
    height: 40px;
    margin-left: 69px;
    margin-right: 5px;
    padding-left: 10px;
    border: 1px solid #ccc;
    background: #fff;
    cursor: pointer;
}
#tamna_join_birthmonth{
    width: 121px;
    height: 40px;
    margin-right: 5px;
    padding-left: 10px;
    border: 1px solid #ccc;
    background: #fff;
    cursor: pointer;
}
#tamna_join_birthday{
    width: 120px;
    height: 40px;
    padding-left: 10px;
    border: 1px solid #ccc;
    background: #fff;
    cursor: pointer;
}

.tamna_join_phoneNum_box{
    display: block;
    width: 645px;
    height: 50px;
    padding-left: 47px;
    padding-top: 2px;
    border-top: 1px solid #444;
    box-sizing: border-box;
}
#tamna_join_phoneNum{
    width: 280px;
    height: 40px;
    margin-left: 60px;
    padding-left: 10px;
    border: 1px solid #ccc;
    background: #fff;
    cursor: text;
}
.tamna_join_phoneNum_btn{
    position: relative;
    width: 130px;
    height: 40px;
    margin-left: 5px;
    background: #21bdbd;
    border-radius: 10px;
    top: 3px;
}
.tamna_join_verifyNum_box{
    position: relative;
    display: block;
    width: 645px;
    height: 50px;
    padding-left: 53px;
    padding-top: 2px;
    border-top: 1px solid #444;
    box-sizing: border-box;
}
#tamna_join_verifyNum{
    width: 280px;
    height: 40px;
    margin-left: 65px;
    padding-left: 10px;
    border: 1px solid #ccc;
    background: #fff;
    cursor: text;
}
.tamna_join_verifyNum_btn{
    position: relative;
    width: 130px;
    height: 40px;
    margin-left: 5px;
    background: #21bdbd;
    border-radius: 10px;
    top: 3px;
}
.tamna_join_id_box{
    display: block;
    width: 645px;
    height: 50px;
    padding-left: 32px;
    padding-top: 5px;
    border-top: 1px solid #444;
    box-sizing: border-box;
}
#tamna_join_id{
    width: 410px;
    height: 40px;
    padding-left: 15px;
    margin-left: 35px;
    border: 1px solid #ccc;
    background: #fff;
    cursor: text;
}
.tamna_input_pw_box{
    display: block;
    width: 645px;
    height: 50px;
    padding-left: 55px;
    padding-top: 5px;
    border-top: 1px solid #444;
    box-sizing: border-box;
}
#tamna_input_pw{
    width: 427px;
    height: 40px;
    padding-left: 20px;
    margin-left: 63px;
    border: 1px solid #ccc;
    background: #fff;
    box-sizing: border-box;
    cursor: text;
}
.tamna_input_pw_check_box{
    display: block;
    width: 645px;
    height: 50px;
    padding-left: 42px;
    padding-top: 5px;
    border-top: 1px solid #444;
    border-bottom: 1px solid #444;
    box-sizing: border-box;
}
#tamna_input_pw_check{
    width: 427px;
    height: 40px;
    padding-left: 20px;
    margin-left: 51px;
    border: 1px solid #ccc;
    background: #fff;
    box-sizing: border-box;
    cursor: text;
}
/* tamna join next btn */
.tamna_join_next_btn {
    display: block;
    width: 240px;
    height: 80px;
    background: #21bdbd;
    border: 1px solid #ddd;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin: 50px auto 20px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
.tamna_join_next_btn:hover {
    background: #fff;
    color: #000;
    transition: all 0.2s ease-in-out;
}
