@charset "utf-8";


/* main */

/* tamna_contact */

.tamna_contact{
    position: relative;
    width: 400px;
    height: 245px;
    margin: 150px auto 50px;
}
.tamna_contact h2::before {
    position: absolute;
    width: 82px;
    height: 80px;
    content: "";
    background: url(../images/apply/tamna_card_apply_logo.jpg) no-repeat;
    top: -130px;
    left: 50%;
    margin-left: -41px;
}
.tamna_contact h2 {
    position: relative;
    display: block;
    font-size: 28px;
    font-weight: 500;
    letter-spacing: -3px;
    text-align: center;
    top: 130px;
}
.tamna_contact_txt {
    position: absolute;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: -1px;
    line-height: 25px;
    text-align: center;
    top: 200px;
    left: 50%;
    margin-left: -180px;
}


/* tamna_contact_list */
.tamna_contact_list_box {
    width: 875px;
    height: 455px;
    margin: 0 auto 150px;
}
.tamna_contact_list1 {
    width: 325px;
    height: 455px;
    background: url(../images/contact/contact_personal.jpg) no-repeat;
    text-indent: -9999px;
    float: left;
    margin-right: 225px;
}
.tamna_contact_list2 {
    width: 325px;
    height: 455px;
    background: url(../images/contact/contact_shop.jpg) no-repeat;
    text-indent: -9999px;
    float: left;
}

/* main end */


/* footer */

.footer {
    height: 180px;
    background: #4c4c4c;
    margin: auto;
}
.footer_box {
    position: relative;
    width: 1181px;
    height: 180px;
    margin: auto;
}
.footer_box a {
    display: block;
    height: 100%;
}
.footer_box h2 {
    position: absolute;
    width: 86px;
    height: 150px;
    background: url(../images/footer_tamna_logo.jpg) no-repeat;
    text-indent: -9999px;
    float: left;
    top: 15px;
    left: 35px;
}
.footer_txt {
    position: absolute;
    font-size: 16px;
    color: #eee;
    float: left;
    top: 65px;
    left: 220px;
}
address {
    float: left;
    margin-bottom: 5px;
}
address::after {
    content: " | ";
    margin: 0 10px 0 5px;
}
.footer_txt p:nth-child(2) {
    float: left;
    margin-bottom: 5px;
}
.footer_jejugoverment {
    position: absolute;
    width: 217px;
    height: 70px;
    background: url(../images/footer_jeju_logo.jpg) no-repeat center;
    text-indent: -9999px;
    top: 60px;
    right: 50px;
}