@charset "utf-8";

/* footer */
.footer{
    display: flex;
    width: 767px;
    height: 200px;
    background: #4b4b4b;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}
.footer_box{
    display: flex;
    width: 565px;
    height: 200px;
    justify-content: space-between;
    align-items: center;
}
.footer_box h2{
    width: 58px;
    height: 97px;
    background: url(../images/index/tamna_mobile_index_footer_logo.jpg) no-repeat;
    text-indent: -9999px;
}
.footer_txt{
    color: #e6e6e6;
}
.footer_jejugoverment{
    width: 150px;
    height: 19px;
    background: url(../images/index/tamna_mobile_index_footer_jejulogo.jpg) no-repeat;
    text-indent: -9999px;
}
