@charset "utf-8";


/* body */
body {
    width: 100%;
    height: 100%;
    background: beige;
    
}
/* header */
.header{
    width: 767px;
    height: 100px;
    margin: 0 auto;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #595959;
    box-sizing: border-box;
    background: #fff;
    z-index: 0;
}
.header_box{
    position: relative;
    display: flex;
    width: 734px;
    height: 100px;
    margin: auto;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    top: -1px;
}
.header_box a{
    display: block;
}
.header_box>h1{
    position: relative;
    width: 80px;
    height: 82px;
    background: url(../images/tamna_mobile_header_mainlogo.jpg) no-repeat;
    order: 1;
    text-indent: -9999px;
}
.header_box>h1>a{
    height: 82px;
}
.gnb{
    position: relative;
    width: 55px;
    height: 50px;
    background: url(../images/tamna_mobile_header_sidelogo.jpg) no-repeat;
    order: 0;
}
.gnb>h2{
    text-indent: -9999px;
}
.gnb_more{
    position: relative;
    display: block;
    width: 54px;
    height: 50px;
    background: url(../images/tamna_mobile_header_hamburger.jpg);
    order: 3;
    text-indent: -9999px;
}

/* sub menu */
.gnb_signin_join_wrap{
    position: relative;
    display: flex;
    width: 645px;
    height: 50px;
    border-bottom: 1px solid #595959;
    top: 44px;
    left: 45px;
    z-index: 1;
    align-items: center;
}
.gnb_signin_join_wrap a{
    font-size: 14px;
    color: #f3f3f3;
    font-weight: 500;
    transition: all 0.5s;
}
.gnb_signin_join_wrap a:hover{
    font-size: 14px;
    color: #fece08;
    font-weight: 500;
    transition: all 0.5s;
}
.gnb_signin{
    float: left;
}
.gnb_menu_wrap{
    position: relative;
    display: flex;
    width: 645px;
    height: 230px;
    padding-top: 40px;
    padding-bottom: 40px;
    box-sizing: border-box;
    top: 44px;
    left: 45px;
    z-index: 10;
    flex-flow: column nowrap;
    justify-content: space-between;
}
.gnb_menu_wrap a{
    font-size: 16px;
    color: #f3f3f3;
    font-weight: 500;
}
.gnb_info, .gnb_personal, .gnb_shop, .gnb_customer{
    display: flex;
    align-items: center;
}
.sub{
    display: flex;
    align-items: center;
}
.sub a{
    font-size: 14px;
    color: #222;
    margin-left: 25px;
}
.gnb_info_sub li:nth-child(1) {
    margin-left: 50px;
}
.gnb_personal_sub li:nth-child(1) {
    margin-left: 36px;
}
.gnb_shop_sub li:nth-child(1) {
    margin-left: 65px;
}
.gnb_customer_sub li:nth-child(1) {
    margin-left: 50px;
}
.gnb_sub_box{
    position: relative;
    width: 767px;
    height: 280px;
    background: rgba(33, 189, 189, 0.9);
    top: -1px;
    z-index: 0;
}

/* main */
.main{
    width: 767px;
    height: 1440px;
    background: green;
    margin: 0 auto;
    z-index: 0;
}
.main_img_wrap{
    width: 767px;
    height: 498px;
    margin: auto;
    border-bottom: 2px solid #595959;
}
.main_img_1{
    width: 767px;
    height: 498px;

}
.main_img_2{
    width: 767px;
    height: 498px;

}
.main_img_3{
    width: 767px;
    height: 498px;

}
/* quick menu */
.quick_menu{
    position: relative;
    width: 767px;
    height: 200px;
    border-bottom: 2px solid #595959;
    box-sizing: border-box;
}
.quick_menu a{
    display: block;
    height: 100%;
    font-size: 20px;
    font-weight: 400;
}
.quick_menu ul{
    position: relative;
    display: flex;
    width: 744px;
    height: 200px;
    margin: 0 auto;
    flex-flow: row wrap;
}
.quick_subs{
    position: relative;
    display: flex;
    width: 373px;
    height: 100px;
    margin: 0;
    border-right: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    box-sizing: border-box;
}
.quick_subs a{
    position: relative;
    display: flex;
    width: 373px;
    height: 100px;
    padding-left: 50px;
    box-sizing: border-box;
    align-items: center;
}
.quick_subs a::before{
    display: inline-block;
    width: 75px;
    height: 65px;
    content: "";
    background: url(../images/tamna_mobile_index_card.jpg) no-repeat;
    margin-right: 20px;
}
.quick_usage{
    position: relative;
    display: flex;
    width: 370px;
    height: 100px;
    margin: 0;
    border-bottom: 1px solid #e6e6e6;
    box-sizing: border-box;
    align-items: center;
}
.quick_usage a{
    position: relative;
    display: flex;
    width: 370px;
    height: 100px;
    padding-left: 50px;
    box-sizing: border-box;
    align-items: center;
}
.quick_usage a::before{
    display: inline-block;
    width: 75px;
    height: 65px;
    content: "";
    background: url(../images/tamna_mobile_index_paymentview.jpg) no-repeat;
    margin-right: 20px;
}
.quick_search{
    position: relative;
    display: flex;
    width: 373px;
    height: 100px;
    margin: 0;
    border-right: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    box-sizing: border-box;
    align-items: center;
}
.quick_search a{
    position: relative;
    display: flex;
    width: 373px;
    height: 100px;
    padding-left: 50px;
    box-sizing: border-box;
    align-items: center;
}
.quick_search a::before{
    display: inline-block;
    width: 75px;
    height: 65px;
    content: "";
    background: url(../images/tamna_mobile_index_shopsearch.jpg) no-repeat;
    margin-right: 20px;
}
.quick_register{
    position: relative;
    display: flex;
    width: 370px;
    height: 100px;
    margin: 0;
    border-bottom: 1px solid #e6e6e6;
    box-sizing: border-box;
    align-items: center;
}
.quick_register a{
    position: relative;
    display: flex;
    width: 370px;
    height: 100px;
    padding-left: 50px;
    box-sizing: border-box;
    align-items: center;
}
.quick_register a::before{
    display: inline-block;
    width: 75px;
    height: 65px;
    content: "";
    background: url(../images/tamna_mobile_index_shopapply.jpg) no-repeat;
    margin-right: 20px;
}
/* footer */
.footer{
    width: 767px;
    background: blue;
    margin: 0 auto;
}